.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7 {
	position: absolute;
	margin-left: 25vw;
	margin-top: 20vh;
	border-radius: 5px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	will-change: transform;
}

// Blog
.card1 {
	min-width: 60ch;
	min-height: 60ch;
	width: 100vw;
	height: 60vw;
	max-width: 140ch;
	max-height: 100ch;
	background-image: url(../../../../images/blob.png);
}

// Blog
.card2 {
	min-width: 60ch;
	min-height: 60ch;
	width: 50vw;
	height: 50vw;
	min-width: 60ch;
	min-height: 60ch;
	background-image: url(../../../../images/blob.png);
}

// Computer
.card3 {
	width: 25ch;
	height: 32ch;
	z-index: 2;
	background-image: url(../../../../images/computer.png);
}

// Guy
.card4 {
	width: 25ch;
	height: 45ch;
	z-index: 3;
	background-image: url(../../../../images/guy.png);
	z-index: 3;
}

// Girl
.card5 {
	width: 25ch;
	height: 45ch;
	z-index: 3;
	background-image: url(../../../../images/girl.png);
}
// Tree
.card6 {
	width: 25ch;
	height: 36ch;
	background-image: url(../../../../images/tree.png);
}
// Blackboard
.card7 {
	width: 60ch;
	height: 60ch;
	z-index: 1;
	background-image: url(https://image.flaticon.com/icons/svg/2135/2135039.svg);
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
