@import '../../../../../mixins/mixins.scss';
@import '../../../../../breakpoints/breakpoints.scss';

.gestures-main {
	background: var(--boxTwoBg);
	color: #fff;
	width: 100%;
	height: 100%;
	font-weight: 600;
	font-family: 'Kanit', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	.countTextContainer {
		font-size: 20;
		z-index: 10000;
		@include heightWidth(100%, 100%);
		@include flexCenter(row, center, flex-start);
		margin: 1em 0px;
		@include topLeftAbsolute(0, 0);
		pointer-events: none;
		.countText {
			@include heightWidth(fit-content, fit-content);
			@include flexCenter(column, center, center);
			font-size: 40px;
			line-height: 40px;
			color: rgba(255, 255, 255, 0.75);
			background: rgba(91, 0, 176, 0.5);
			border-radius: 5px;
			font-family: 'Patua One', cursive;
			text-align: center;
			padding: 0.5em;
			transition: all 0.5s ease-in-out;
			pointer-events: auto;
			&:hover {
				color: rgba(255, 255, 255, 1);
				background: rgba(91, 0, 176, 1);
			}
			.countTextHeading {
				font-size: 20px;
				@include heightWidth(fit-content, fit-content);
				@include flexCenter(row, center, center);
				transition: all 0.5s ease-in-out;
			}
			.countTextBody {
				@include heightWidth(fit-content, fit-content);
				@include flexCenter(row, center, center);
				transition: all 0.5s ease-in-out;
				&:hover {
					font-size: 50px;
				}
			}
		}
	}
}

.gestures-item {
	position: relative;
	width: 180px;
	height: 70px;
	pointer-events: auto;
	transform-origin: 50% 50% 0px;
	border-radius: 5px;
	color: rgb(248, 201, 201);
	line-height: 70px;
	padding-left: 32px;
	padding-right: 32px;
	box-sizing: border-box;
	display: grid;
	align-items: center;
	text-align: center;
	transform: scale(1.5);
}

.gestures-fg {
	background-color: #373737;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: 5px;
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	pointer-events: auto;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	&:hover {
		color: rgba(255, 255, 255, 1);
		background: rgb(78, 166, 213);
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
	}
}

.gestures-bubble {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	transition: all 0.5s ease-in-out;
}

@include media('<=phone') {
	.gestures-item {
		transform: scale(0.8) translateY(50px);
		transform-origin: bottom center;
	}
}

@include media('>phone', '<=425px') {
	.gestures-item {
		transform: scale(0.8) translateY(50px);
		transform-origin: bottom center;
	}
}

@include media('>400px', '<=425px') {
	.gestures-item {
		transform: scale(1) translateY(50px);
		transform-origin: bottom center;
	}
}

@include media('>425px', '<=tablet') {
	.gestures-item {
		transform: scale(1) translateY(50px);
		transform-origin: bottom center;
	}
	.countTextContainer {
		transform: translateY(0px);
		transform-origin: bottom center;
	}
}

@include media('>600px', '<=tablet') {
	.gestures-item {
		transform: scale(1.5) translateY(50px);
		transform-origin: bottom center;
	}
	.countTextContainer {
		transform: translateY(20px);
		transform-origin: bottom center;
	}
}

@include media('>tablet', '<desktop') {
	.gestures-item {
		transform: scale(1.5) translateY(50px);
		transform-origin: bottom center;
	}
	.countTextContainer {
		transform: translateY(20px);
		transform-origin: bottom center;
	}
}

@include media('>1200px', '<desktop') {
	.gestures-item {
		transform: scale(2) translateY(50px);
		transform-origin: bottom center;
	}
	.countTextContainer {
		transform: translateY(20px);
		transform-origin: bottom center;
	}
}

@include media('>=desktop') {
	.gestures-item {
		transform: scale(2) translateY(50px);
		transform-origin: bottom center;
	}
	.countTextContainer {
		transform: translateY(20px);
		transform-origin: bottom center;
	}
}

@include media('>=LGdesktop', 'retina2x') {
	.gestures-item {
		transform: scale(2) translateY(50px);
		transform-origin: bottom center;
	}
	.countTextContainer {
		transform: translateY(20px);
		transform-origin: bottom center;
	}
}
