@import '../../../mixins/mixins.scss';
@import '../../../breakpoints/breakpoints.scss';

.layoutContatainer {
	position: relative;
	@include heightWidth(100%, 100vw);
	@include flexCenter(column, center, center);
	margin: 0px;
	padding: 0px;
	.headerContainer {
		@include heightWidth(4vh, 100%);
		@include flexCenter(row, center, center);
		grid-column: 1 / 5;
	}
	.container {
		@include heightWidth(100vh, 100vw);
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(2, 50%);
		z-index: 9;
	}
	.absoluteContainer {
		@include topLeftAbsolute(0%, 0%);
		@include heightWidth(100%, 100vw);
		.homeContainer {
			@include heightWidth(100%, 100%);
			@include flexCenter(column, center, center);
		}
		.homeBtns {
			@include topLeftAbsolute(0%, 0%);
			@include heightWidth(100%, 100%);
			pointer-events: auto;
		}
		.navHomeContainer {
			@include heightWidth(fit-content, fit-content);
			z-index: 200000;
		}

		.boxGroupsContainer {
			@include heightWidth(100%, 100%);
		}
	}
	.profileFormsContainer {
		@include heightWidth(100%, 100%);
		@include flexCenter(column, center, center);
		.returnHomeLink {
			@include heightWidth(fit-content, fit-content);
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			@include bottomLeftAbsolute(20%, 50%);
			transform: translate(-50%, -65%);
			font-size: 50px;
			font-family: 'Oleo Script', cursive;
			color: rgba(59, 61, 206, 0.75);
			transition: all 0.5s ease-in-out;
			&:hover {
				color: rgba(59, 61, 206, 1);
				text-decoration: underline;
			}
		}
	}

	.chatbot {
		z-index: 2000;
		@include heightWidth(1px, 1px);
	}

	.footer {
		@include heightWidth(4vh, 100%);
		@include flexCenter(row, center, center);
	}

	@include media('<=phone') {
		.headerContainer {
			
		}
		.container {
		}
		.absoluteContainer {
			.homeContainer {
			}
			.homeBtns {
			}
			.navHomeContainer {
			}

			.boxGroupsContainer {
			}
		}
		.profileFormsContainer {
			.returnHomeLink {
				&:hover {
				}
			}
		}

		.chatbot {
		}

		.footer {
		}
	}

	@include media('>phone', '<=425px') {
		.headerContainer {
		}
		.container {
		}
		.absoluteContainer {
			.homeContainer {
			}
			.homeBtns {
			}
			.navHomeContainer {
			}

			.boxGroupsContainer {
			}
		}
		.profileFormsContainer {
			.returnHomeLink {
				&:hover {
				}
			}
		}

		.chatbot {
		}

		.footer {
		}
	}

	@include media('>425px', '<=tablet') {
		.headerContainer {
		}
		.container {
		}
		.absoluteContainer {
			.homeContainer {
			}
			.homeBtns {
			}
			.navHomeContainer {
			}

			.boxGroupsContainer {
			}
		}
		.profileFormsContainer {
			.returnHomeLink {
				&:hover {
				}
			}
		}

		.chatbot {
		}

		.footer {
		}
	}

	@include media('>tablet', '<desktop') {
		.headerContainer {
		}
		.container {
		}
		.absoluteContainer {
			.homeContainer {
			}
			.homeBtns {
			}
			.navHomeContainer {
			}

			.boxGroupsContainer {
			}
		}
		.profileFormsContainer {
			.returnHomeLink {
				&:hover {
				}
			}
		}

		.chatbot {
		}

		.footer {
		}
	}

	@include media('>=desktop') {
		.headerContainer {
		}
		.container {
		}
		.absoluteContainer {
			.homeContainer {
			}
			.homeBtns {
			}
			.navHomeContainer {
			}

			.boxGroupsContainer {
			}
		}
		.profileFormsContainer {
			.returnHomeLink {
				&:hover {
				}
			}
		}

		.chatbot {
		}

		.footer {
		}
	}

	@include media('>=LGdesktop', 'retina2x') {
		.headerContainer {
		}
		.container {
		}
		.absoluteContainer {
			.homeContainer {
			}
			.homeBtns {
			}
			.navHomeContainer {
			}

			.boxGroupsContainer {
			}
		}
		.profileFormsContainer {
			.returnHomeLink {
				&:hover {
				}
			}
		}

		.chatbot {
		}

		.footer {
		}
	}
}
