@import '../../../mixins/mixins.scss';

.layoutContatainer {
	position: relative;
	@include heightWidth(100%, 100vw);
	@include flexCenter(column, center, center);
	margin: 0px;
	padding: 0px;
	.headerContainer {
		@include heightWidth(4vh, 100%);
		@include flexCenter(row, center, center);
		// z-index: 10000;
		// background: blue;
		grid-column: 1 / 5;
	}
	.container {
		@include heightWidth(100vh, 100vw);
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(2, 50%);
		// margin-top: 8vh;
		z-index: 9;
	}
	.absoluteContainer {
		@include topLeftAbsolute(0%, 0%);
		@include heightWidth(100%, 100vw);
		.homeContainer {
			@include heightWidth(100%, 100%);
			@include flexCenter(column, center, center);
		}
		.homeBtns {
			@include topLeftAbsolute(0%, 0%);
			pointer-events: auto;
			@include heightWidth(100%, 100%);
		}
		.navHomeContainer {
			@include heightWidth(fit-content, fit-content);
			z-index: 200000;
		}

		.boxGroupsContainer {
			@include heightWidth(100%, 100%);
		}
	}
	.profileFormsContainer {
		@include heightWidth(100%, 100%);
		@include flexCenter(column, center, center);
		.returnHomeLink {
			@include heightWidth(fit-content, fit-content);
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			@include bottomLeftAbsolute(20%, 50%);
			transform: translate(-50%, -65%);
			font-size: 50px;
			font-family: 'Oleo Script', cursive;
			color: rgba(59, 61, 206, 0.75);
			transition: all 0.5s ease-in-out;
			&:hover {
				color: rgba(59, 61, 206, 1);
				text-decoration: underline;
			}
		}
	}

	.chatbot {
		z-index: 2000;
		@include heightWidth(1px, 1px);
	}

	.footer {
		@include heightWidth(4vh, 100%);
		@include flexCenter(row, center, center);
	}
}
