@import '../../../mixins/mixins.scss';

.boxFiveContainer {
	@include flexCenter(column, center, center);
	width: 100%;
	height: 100%;
	@include heightWidth(100%, 100%);
	border: none;
	// background-color: red;
	.boxFiveSubcontainer {
		@include flexCenter(column, center, center);
		width: 100%;
		height: 100%;
		border: none;
		.btnsContainer {
			@include flexCenter(row, center, center);
			background-color: none;
			box-shadow: none;
			width: 100%;
			height: 5vh;
			border: none;
			.segment {
				@include flexCenter(row, center, center);
				width: 100%;
				height: 100%;
				border: none;
				background-color: none;
				margin: 1em 0px;
				.btn {
					@include flexCenter(row, center, center);
					background-color: orange;
					border: none;
					font-size: 10px;
					width: 100%;
					height: 4vh;
					box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
				}
			}
		}
		.puzzleContainer {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			border: none;
			div {
				border: none;
				width: 4.7vw;
				height: 4.5vh;
				&:focus {
					outline: transparent;
				}
			}
			.piece {
				border: none;
				box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
			}
		}
	}
}
