.boxFiveContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  border: none;
}

.boxFiveContainer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: none;
}

.boxFiveContainer .container .btnsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  height: 5vh;
  border: none;
}

.boxFiveContainer .container .btnsContainer .segment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  background-color: none;
  margin: 1em 0px;
}

.boxFiveContainer .container .btnsContainer .segment .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: orange;
  border: none;
  font-size: 10px;
  width: 100%;
  height: 4vh;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}

.boxFiveContainer .container .puzzleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: none;
}

.boxFiveContainer .container .puzzleContainer div {
  border: none;
  width: 4.7vw;
  height: 4.5vh;
}

.boxFiveContainer .container .puzzleContainer div:focus {
  outline: transparent;
}

.boxFiveContainer .container .puzzleContainer .piece {
  border: none;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
}
/*# sourceMappingURL=BoxFive.css.map */