.boxFiveContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: red;
	.container {
		// this is the one
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 10vw;
		height: 10vh;
		.subContainer {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			.segment {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				.btn {
					background-color: orange;
					font-size: 10px;
					width: 100%;
					height: 4vh;
				}
			}
		}
		.puzzleContainer {
			width: 20vw;
			height: 20vh;
			.puzzlepieces {
				background-color: palegreen;
			}
		}
	}
}
