@import '../../../mixins/mixins.scss';

.boxFiveContainer {
	@include flexCenter(column, center, center);
	width: 100%;
	height: 100%;
	@include heightWidth(100%, 100%);
	border: none;
	background-image: url('../../../images/cool-background.png');
	background-clip: border-box;
	background-size: 100vw;
	animation: headingAnimation 4s infinite 0s alternate;
	.boxFiveSubcontainer {
		@include flexCenter(column, center, center);
		width: 100%;
		height: 100%;
		border: none;
		.btnsContainer {
			@include flexCenter(row, center, center);
			background-color: transparent;
			box-shadow: none;
			@include heightWidth(5vh, 100%);
			border: none;
			.segment {
				@include flexCenter(row, center, center);
				@include heightWidth(100%, 100%);
				border: none;
				margin: 1em 0px;
				background-color: transparent;
				.btn {
					@include heightWidth(4vh, 100%);
					@include flexCenter(row, center, center);
					border: none;
					background-color: orange;
					color: #333333;
					font-size: 14px;
					box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
				}
			}
		}
		.puzzleContainer {
			@include flexCenter(column, center, center);
			width: 100%;
			height: 100%;
			border: none;
			background-color: transparent;
			div {
				border: none;
				width: 4.7vw;
				height: 4.5vh;
				&:focus {
					outline: transparent;
				}
			}
			.piece {
				border: none;
				box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
			}
		}
	}
}

@include gradientAnimationMix;
