@-webkit-keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.forgotContainer {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#76b852), to(#3d806a));
  background: linear-gradient(90deg, #76b852 0%, #3d806a 100%);
  background-size: 400%;
  -webkit-animation: headingAnimation 5s infinite 0s alternate;
          animation: headingAnimation 5s infinite 0s alternate;
}

.forgotContainer .forgotForm {
  height: 30%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 151, 151, 0.75);
  border-radius: 25px;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  font-family: 'Quicksand', sans-serif;
  z-index: 10;
  pointer-events: none;
}

.forgotContainer .forgotForm .forgotFormText {
  pointer-events: initial;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.75);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.forgotContainer .forgotForm .forgotFormText:hover {
  color: white;
}

.forgotContainer .forgotForm .forgotFormSubText {
  pointer-events: initial;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.75);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.forgotContainer .forgotForm .forgotFormSubText:hover {
  color: white;
}

.forgotContainer .forgotForm .inputForgotContainer {
  pointer-events: initial;
  height: 3vh;
  width: 90%;
  margin-bottom: 3em;
}

.forgotContainer .forgotForm .inputForgotContainer .inputForgot {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 1em;
  border-radius: 5px;
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.forgotContainer .forgotForm .inputForgotContainer .emailSubmitFormButton {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 1em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  background: rgba(255, 186, 125, 0.75);
  border-color: rgba(255, 186, 125, 0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.forgotContainer .forgotForm .inputForgotContainer .emailSubmitFormButton:hover {
  background: #ffba7d;
  border-color: #ffba7d;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.forgotContainer .gooContain {
  z-index: 1;
}
/*# sourceMappingURL=Forgot.css.map */