@import '../../../../../mixins/mixins.scss';

.boxEightContainer {
	position: relative;
	@include heightWidth(100%, 100%);
	.box {
		@include flexCenter(column, center, center);
		@include heightWidth(100%, 100%);
		cursor: pointer;
		position: relative;
		width: 50%;
		height: 20%;
		background-color: #8ec5fc;
		will-change: transform;
		z-index: 2;
	}
	.boxEightText {
		@include flexCenter(column, center, flex-start);
		@include heightWidth(100%, 100%);
		@include topLeftAbsolute(0%, 0%);
		z-index: 1;
		pointer-events: none;
		margin: 0px 1.5em;
		text-align: center;
		font-size: 40px;
		color: rgba(255, 252, 230, 1);
		transition: all 0.5s ease-in-out;
	}
}
