@import '../../../mixins/mixins.scss';

#starContainer {
	@include flexCenter(column, center, center);
	@include heightWidth(100%, 100%);
	z-index: 3;
	cursor: pointer;
	background: var(--boxThreeBg);
	#pathSVG {
		@include flexCenter(row, center, center);
		@include heightWidth(100%, 100%);
		#starPath {
		}
	}
}
