@import '../../../../mixins/mixins.scss';

.boxGroupContainer {
	@include heightWidth(92vh, 100vw);
	position: relative;
	@include topLeftAbsolute(0%, 0%);
	margin-top: 4vh;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(2, 50%);
	// margin-top: 8vh;
	z-index: 9;
}
