@import '../../../mixins/mixins.scss';

.scrollerContainer {
	@include flexCenter(row, center, center);
	@include heightWidth(100%, 100%);
	.scrolltop-main {
		position: relative;
		@include flexCenter(column, center, center);
		@include heightWidth(100%, 100%);
		overflow-y: scroll;
		.scrolltop-c {
			@include flexCenter(column, center, center);
			@include heightWidth(100%, 100%);
			margin: 0;
			padding: 0;
			user-select: none;
			background: peachpuff;
			overflow: auto;
			opacity: 0.6;
			.colors {
				@include flexCenter(row, center, center);
				@include heightWidth(100%, 100%);
			}
		}
	}
	.scrolltop-b {
		position: absolute;
		@include heightWidth(100px, 100px);
		border-radius: 50%;
		border: 5px solid white;
		background: lavender;
		cursor: pointer;
		@include flexCenter(column, center, center);
		&::after {
			content: 'Scroll';
			font-size: 1.2em;
			font-weight: 100;
			color: rgb(106, 86, 112);
		}
		&:hover {
			background: rgb(217, 203, 218);
		}
	}
}
