@import '../../../../../mixins/mixins.scss';

#parentContainer {
	@include heightWidth(100%, 100%);
	@include flexCenter(row, center, center);
	position: relative;
	background: linear-gradient(to bottom, #77a1d3, #79cbca);
	#boxTwelveContainer {
		@include heightWidth(100%, 100%);
		@include flexCenter(row, center, center);
		#boxTwelveHeading {
			@include heightWidth(100%, 100%);
			@include flexCenter(column, flex-start, center);
			margin-top: 2em;
			pointer-events: none;
			font-size: 28px;
			line-height: 28px;
			font-family: 'Rokkitt', serif;
			color: #ffffff;
			&:hover {
				color: #000000;
			}
		}
		#boxTwelveSVG {
			@include bottomLeftAbsolute(0px, 0px);
			transform: translate(-0%, 50%);
			@include heightWidth(100%, 100%);
			@include flexCenter(row, center, center);
			g {
				#boxTwelveArea {
				}
			}
		}
	}
}
