@import '../../../../../mixins/mixins.scss';
@import '../../../../../breakpoints/breakpoints.scss';

* {
	box-sizing: border-box;
}

.boxEleven {
	@include flexCenter(row, center, center);
	@include heightWidth(100%, 100%);
	background: linear-gradient(
		to top,
		#a18cd1 0%,
		#fbc2eb 100%
	);
	.boxElevenContainer {
		grid-gap: 5px;
		padding: 5px;
		border-radius: 50%;
		cursor: pointer;
		transition: all 1s ease-in-out;
		&:hover {
			border-radius: 5px;
		}
		.boxElevenItem {
			width: 100%;
			height: 100%;
			background: white;
			border-radius: 5px;
			will-change: transform, opacity;
			transition: all 0.5s ease-in-out;
			&:hover {
				border-radius: 50%;
			}
		}
	}
}

@include media('<=phone') {
	.boxEleven {
		.boxElevenContainer {
			&:hover {
			}
			.boxElevenItem {
				&:hover {
				}
			}
		}
	}
}

@include media('>phone', '<=425px') {
	.boxEleven {
		.boxElevenContainer {
			&:hover {
			}
			.boxElevenItem {
				&:hover {
				}
			}
		}
	}
}

@include media('>425px', '<=tablet') {
	.boxEleven {
		.boxElevenContainer {
			&:hover {
			}
			.boxElevenItem {
				&:hover {
				}
			}
		}
	}
}

@include media('>tablet', '<desktop') {
	.boxEleven {
		.boxElevenContainer {
			&:hover {
			}
			.boxElevenItem {
				&:hover {
				}
			}
		}
	}
}

@include media('>=desktop') {
	.boxEleven {
		.boxElevenContainer {
			&:hover {
			}
			.boxElevenItem {
				&:hover {
				}
			}
		}
	}
}

@include media('>=LGdesktop', 'retina2x') {
	.boxEleven {
		.boxElevenContainer {
			&:hover {
			}
			.boxElevenItem {
				&:hover {
				}
			}
		}
	}
}
