@-webkit-keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/**
*
* Testing
*
**/
.shapeAnimationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.shapeAnimationContainer .shapeSVG #path-1 {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.shapeAnimationContainer .shapeSVG #path-1:hover {
  opacity: 0.25;
  fill: var(--BtnHover);
  -webkit-animation: colorAnim 5s infinite 0s alternate ease-in-out;
          animation: colorAnim 5s infinite 0s alternate ease-in-out;
}

@-webkit-keyframes colorAnim {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.75;
  }
}

@keyframes colorAnim {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.75;
  }
}

@media (max-width: 360px) {
  .shapeAnimationContainer .shapeSVG #path-1 {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .shapeAnimationContainer .shapeSVG .face {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  .shapeAnimationContainer .shapeSVG #path-1 {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .shapeAnimationContainer .face {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .shapeAnimationContainer .shapeSVG #path-1 {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .shapeAnimationContainer .face {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .shapeAnimationContainer .shapeSVG #path-1 {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .shapeAnimationContainer .face {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@media (min-width: 1201px) and (max-width: 1365px) {
  .shapeAnimationContainer .shapeSVG #path-1 {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .shapeAnimationContainer .face {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@media (min-width: 1366px) {
  .shapeAnimationContainer .shapeSVG #path-1 {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .shapeAnimationContainer .face {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@media (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1920px) and (min-resolution: 192dpi) {
  .shapeAnimationContainer .shapeSVG #path-1 {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  .shapeAnimationContainer .face {
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}
/*# sourceMappingURL=BoxOne.css.map */