@import '../../../../../mixins/mixins.scss';

.shapeAnimationContainer {
	@include flexCenter(row, center, center);
	@include heightWidth(100%, 100%);
	.shapeSVG {
		#path-1 {
			transition: all 0.5s ease-in-out;
			&:hover {
				opacity: 0.25;
				// BtnHover color swap
				fill: var(--BtnHover);
				animation: colorAnim 5s infinite 0s alternate
					ease-in-out;
			}
		}
	}
}

@keyframes colorAnim {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.75;
	}
}
