@import '../../../../../mixins/mixins.scss';
@import '../../../../../breakpoints/breakpoints.scss';

.shapeAnimationContainer {
	@include flexCenter(row, center, center);
	@include heightWidth(100%, 100%);
	.shapeSVG {
		#path-1 {
			transition: all 0.5s ease-in-out;
			&:hover {
				opacity: 0.25;
				// BtnHover color swap
				fill: var(--BtnHover);
				animation: colorAnim 5s infinite 0s alternate
					ease-in-out;
			}
		}
		.face {
		}
	}
}

@keyframes colorAnim {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.75;
	}
}

@include media('<=phone') {
	.shapeAnimationContainer {
		.shapeSVG {
			#path-1 {
				transform: scale(0.75);
				transform-origin: center;
				&:hover {
				}
			}
			.face {
				transform: scale(0.75);
				transform-origin: center;
			}
		}
	}
}

@include media('>phone', '<=425px') {
	.shapeAnimationContainer {
		.shapeSVG {
			#path-1 {
				transform: scale(0.75);
				transform-origin: center;
				&:hover {
				}
			}
		}
		.face {
			transform: scale(0.75);
			transform-origin: center;
		}
	}
}

@include media('>425px', '<=tablet') {
	.shapeAnimationContainer {
		.shapeSVG {
			#path-1 {
				transform: scale(0.75);
				transform-origin: center;
				&:hover {
				}
			}
		}
		.face {
			transform: scale(0.75);
			transform-origin: center;
		}
	}
}

@include media('>600px', '<=tablet') {
	.shapeAnimationContainer {
		.shapeSVG {
			#path-1 {
				transform: scale(1);
				transform-origin: center;
				&:hover {
				}
			}
		}
		.face {
			transform: scale(1);
			transform-origin: center;
		}
	}
}

@include media('>tablet', '<desktop') {
	.shapeAnimationContainer {
		.shapeSVG {
			#path-1 {
				&:hover {
				}
			}
		}
		.face {
		}
	}
}

@include media('>1200px', '<desktop') {
	.shapeAnimationContainer {
		.shapeSVG {
			#path-1 {
				transform: scale(1.15);
				transform-origin: center;
				&:hover {
				}
			}
		}
		.face {
			transform: scale(1.15);
			transform-origin: center;
		}
	}
}

@include media('>=desktop') {
	.shapeAnimationContainer {
		.shapeSVG {
			#path-1 {
				transform: scale(1.15);
				transform-origin: center;
				&:hover {
				}
			}
		}
		.face {
			transform: scale(1.15);
			transform-origin: center;
		}
	}
}

@include media('>=LGdesktop', 'retina2x') {
	.shapeAnimationContainer {
		.shapeSVG {
			#path-1 {
				transform: scale(1.15);
				&:hover {
				}
			}
		}
		.face {
			transform-origin: center;
		}
	}
}
