@-webkit-keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.batteryBPageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(238, 129, 27, 0.75);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.batteryBPageContainer:hover {
  background: #ee811b;
}

.batteryBPageContainer .batteryB {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30rem;
  width: 25em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 3px solid #88a8a8;
  border-radius: 5px;
}

.batteryBPageContainer .batteryB .tipB {
  height: 1vh;
  width: 9vmin;
  position: absolute;
  top: -1vh;
  left: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #88a8a8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.batteryBPageContainer .batteryB .levelB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: #3ce81a;
  opacity: 0.75;
  font-size: calc(1vw + 12px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.batteryBPageContainer .batteryB .levelB:hover {
  opacity: 1;
}

.batteryBPageContainer .batteryBText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0px 1em 0px 0.5em;
  color: rgba(0, 0, 0, 0.75);
  font-size: calc(1vw + 12px);
  font-weight: 800;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.batteryBPageContainer .batteryBText:hover {
  color: black;
}
/*# sourceMappingURL=BatteryPage.css.map */