@import '../../../../../mixins/mixins.scss';

.boxFifteenContainer {
	@include flexCenter(row, center, center);
	@include heightWidth(100%, 100%);
	#textBox {
		color: aqua;
		font-size: 80px;
		line-height: 80px;
		@include topLeftAbsolute(25%, 25%);
		transform: translate(25%, 25%);
		@include flexCenter(row, center, center);
		@include heightWidth(0px, 0px);
		@include noSelection;
		z-index: 20000;
		&:hover {
			color: orange;
			pointer-events: none;
		}
	}
}
