@-webkit-keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/**
*
* Testing
*
**/
.boxFiveContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border: none;
  background-size: 400%;
  background-image: var(--boxFiveBg);
  -webkit-animation: headingAnimation 5s infinite alternate;
          animation: headingAnimation 5s infinite alternate;
}

.boxFiveContainer .boxFiveSubcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border: none;
}

.boxFiveContainer .boxFiveSubcontainer > .ui.segments {
  margin: 1em 0;
}

.boxFiveContainer .boxFiveSubcontainer .btnsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 4vh;
  width: 100%;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.boxFiveContainer .boxFiveSubcontainer .btnsContainer .segment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
}

.boxFiveContainer .boxFiveSubcontainer .btnsContainer .segment .btn {
  height: 4vh;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  color: #333333;
  background: linear-gradient(89.8deg, #cc9cdf 0.3%, #9bdbf5 20.4%, #f5b7d0 40.2%, #faba62 62.9%, #eaeef0 81.9%, #faf5ab 99.2%);
  font-size: 14px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  z-index: 4;
}

.boxFiveContainer .boxFiveSubcontainer .puzzleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: scale(1) translate(-55%, 0%);
          transform: scale(1) translate(-55%, 0%);
  border: none;
  background-color: transparent;
  pointer-events: none;
}

.boxFiveContainer .boxFiveSubcontainer .puzzleContainer div {
  pointer-events: none;
  border: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.boxFiveContainer .boxFiveSubcontainer .puzzleContainer div:focus {
  outline: transparent;
}

.boxFiveContainer .boxFiveSubcontainer .puzzleContainer .piece {
  border: none;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
  -webkit-transform: scale(1);
          transform: scale(1);
  translate: all 1s ease-in-out;
  pointer-events: auto;
}

.boxFiveContainer .boxFiveSubcontainer .puzzleContainer .piece:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

.boxFiveContainer .boxFiveSubcontainer .puzzleContainer .piece div {
  margin: 1em;
}

@media (max-width: 360px) {
  .boxFiveContainer .boxFiveSubcontainer .puzzleContainer {
    -webkit-transform: scale(1) translate(-50%, 0%);
            transform: scale(1) translate(-50%, 0%);
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  .boxFiveContainer .boxFiveSubcontainer .puzzleContainer {
    -webkit-transform: scale(1) translate(-50%, 0%);
            transform: scale(1) translate(-50%, 0%);
  }
}

@media (min-width: 401px) and (max-width: 425px) {
  .boxFiveContainer .boxFiveSubcontainer .puzzleContainer {
    -webkit-transform: scale(1.25) translate(-38%, 0%);
            transform: scale(1.25) translate(-38%, 0%);
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .boxFiveContainer .boxFiveSubcontainer .puzzleContainer {
    -webkit-transform: scale(1.25) translate(-40%, 0%);
            transform: scale(1.25) translate(-40%, 0%);
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .boxFiveContainer .boxFiveSubcontainer .puzzleContainer {
    -webkit-transform: scale(2.25) translate(-21%, 0%);
            transform: scale(2.25) translate(-21%, 0%);
  }
}

@media (min-width: 769px) and (max-width: 1365px) {
  .boxFiveContainer .boxFiveSubcontainer .puzzleContainer {
    -webkit-transform: scale(2.25) translate(-22%, 0%);
            transform: scale(2.25) translate(-22%, 0%);
  }
}

@media (min-width: 1201px) and (max-width: 1365px) {
  .boxFiveContainer .boxFiveSubcontainer .puzzleContainer {
    -webkit-transform: scale(2.5) translate(-20%, 2%);
            transform: scale(2.5) translate(-20%, 2%);
  }
}

@media (min-width: 1366px) {
  .boxFiveContainer .boxFiveSubcontainer .puzzleContainer {
    -webkit-transform: scale(2.5) translate(-20%, 2%);
            transform: scale(2.5) translate(-20%, 2%);
  }
}

@media (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1920px) and (min-resolution: 192dpi) {
  .boxFiveContainer .boxFiveSubcontainer .puzzleContainer {
    -webkit-transform: scale(2.75) translate(-18%, 2%);
            transform: scale(2.75) translate(-18%, 2%);
  }
}
/*# sourceMappingURL=BoxFive.css.map */