@import '../../../../../mixins/mixins.scss';

.boxFiveContainer {
	@include flexCenter(column, center, center);
	@include heightWidth(100%, 100%);
	border: none;
	background-size: 400%;
	background-image: var(--boxFiveBg);
	animation: headingAnimation 5s infinite alternate;
	.boxFiveSubcontainer {
		@include flexCenter(column, center, center);
		@include heightWidth(100%, 100%);
		border: none;
		> .ui.segments {
			margin: 1em 0;
		}
		.btnsContainer {
			@include flexCenter(row, center, flex-start);
			@include topLeftAbsolute(0%, 0%);
			@include heightWidth(4vh, 100%);
			background-color: transparent;
			box-shadow: none;
			border: none;
			.segment {
				@include flexCenter(row, center, center);
				@include heightWidth(100%, 100%);
				border: none;
				background-color: transparent;
				.btn {
					@include heightWidth(4vh, 75%);
					@include flexCenter(row, center, center);
					border: none;
					color: #333333;
					background: linear-gradient(
						89.8deg,
						rgba(204, 156, 223, 1) 0.3%,
						rgba(155, 219, 245, 1) 20.4%,
						rgba(245, 183, 208, 1) 40.2%,
						rgba(250, 186, 98, 1) 62.9%,
						rgba(234, 238, 240, 1) 81.9%,
						rgba(250, 245, 171, 1) 99.2%
					);
					font-size: 14px;
					box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
					z-index: 4;
				}
			}
		}
		.puzzleContainer {
			transform: scale(2.5);
			@include flexCenter(column, center, center);
			@include heightWidth(100%, 100%);
			@include topLeftAbsolute(0%, 0%);
			border: none;
			background-color: transparent;
			pointer-events: none;
			div {
				pointer-events: none;
				border: none;
				@include heightWidth(4vh, 4.7vw);
				// margin: 2px;
				&:focus {
					outline: transparent;
				}
			}
			.piece {
				border: none;
				box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
				transform: scale(1);
				translate: all 1s ease-in-out;
				pointer-events: auto;
				&:hover {
					transform: scale(0.9);
					box-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
				}
				div {
					margin: 1em;
				}
			}
		}
	}
}

@include bgAnimationMix(top left, bottom right);
