@import '../../../../../mixins/mixins.scss';

.boxFiveContainer {
	@include flexCenter(column, center, center);
	@include heightWidth(100%, 100%);
	border: none;
	background-image: var(--boxFiveBg);
	background-clip: content-box;
	background-size: 100vw;
	background-position: left;
	animation: headingAnimation 5s infinite 0s alternate;
	.boxFiveSubcontainer {
		@include flexCenter(column, center, center);
		@include heightWidth(100%, 100%);
		border: none;
		.btnsContainer {
			@include flexCenter(row, center, flex-start);
			background-color: transparent;
			box-shadow: none;
			@include heightWidth(5vh, 100%);
			border: none;
			.segment {
				@include flexCenter(row, center, center);
				@include heightWidth(100%, 100%);
				border: none;
				margin: 1em 0px;
				background-color: transparent;
				.btn {
					@include heightWidth(4vh, 100%);
					@include flexCenter(row, center, center);
					border: none;
					background-color: orange;
					color: #333333;
					font-size: 14px;
					box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
					z-index: 4;
				}
			}
		}
		.puzzleContainer {
			transform: scale(2.5);
			@include flexCenter(column, center, center);
			@include heightWidth(100%, 100%);
			border: none;
			background-color: transparent;
			pointer-events: none;
			div {
				pointer-events: none;
				border: none;
				@include heightWidth(4.3vh, 4.2vw);
				margin: 2px;
				&:focus {
					outline: transparent;
				}
			}
			.piece {
				border: none;
				box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
				transform: scale(1);
				translate: all 1s ease-in-out;
				pointer-events: auto;
				&:hover {
					transform: scale(1.1);
					box-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
				}
				div {
					margin: 1em;
				}
			}
		}
	}
}

// @include gradientAnimationMix(2000vw, 4000vw, left, right);

@keyframes headingAnimation {
	0% {
		// background-size: 100vw;
		background-position: left;
	}
	100% {
		// background-size: 200vw;
		background-position: right;
	}
}
