@import '../../../../../mixins/mixins.scss';

.boxThirteenContainer {
	margin: 0;
	padding: 0;
	@include flexCenter(row, center, center);
	@include heightWidth(100%, 100%);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
	.iconContainer {
		color: #ffffff;
		@include flexCenter(column, center, center);
		@include heightWidth(100%, 100%);
		background: linear-gradient(
			to right,
			rgba(255, 251, 213, 0.75),
			rgba(178, 10, 44, 0.75)
		);
		background-size: 400%;
		color: transparent;
		background-clip: text;
		animation: headingAnimation 5s infinite alternate;
		transition: all 0.5s ease-in-out;
		&:hover {
			transform: scale(1.1);
		}
		.iconText {
			@include heightWidth(fit-content, fit-content);
			font-size: 5rem;
			font-family: 'Patua One', cursive;
			margin: 1em 0px 0px;
		}
		.hrefContainer {
			@include flexCenter(column, center, center);
			@include heightWidth(100%, 100%);
			span {
				@include flexCenter(column, center, center);
				@include heightWidth(100%, 100%);
				svg {
					@include flexCenter(column, center, center);
					// background: linear-gradient(
					// 	to right,
					// 	#7b4397,
					// 	#dc2430
					// );
					@include heightWidth(100%, 100%);
					path {
						@include flexCenter(column, center, center);
						@include heightWidth(100%, 100%);
					}
				}
			}
		}
	}
}
