@import '../../../../../mixins/mixins.scss';
@import '../../../../../breakpoints/breakpoints.scss';

.boxThirteenContainer {
	margin: 0;
	padding: 0;
	@include flexCenter(row, center, center);
	@include heightWidth(100%, 100%);
	background: var(--boxThirteenBg);
	#boxThirteenPage {
	}
	.iconContainer {
		color: #ffffff;
		@include flexCenter(column, center, center);
		@include heightWidth(100%, 100%);
		background: var(--boxThirteenText);
		background-size: 400%;
		color: transparent;
		background-clip: text;
		animation: headingAnimation 5s infinite alternate;
		transition: all 0.5s ease-in-out;
		&:hover {
			transform: scale(1.1);
		}
		.iconText {
			@include heightWidth(fit-content, fit-content);
			font-size: 5rem;
			font-family: 'Patua One', cursive;
			margin: 1em 0px 0px;
		}
		.hrefContainer {
			@include flexCenter(column, center, center);
			@include heightWidth(100%, 100%);
			span {
				@include flexCenter(column, center, center);
				@include heightWidth(100%, 100%);
				svg {
					@include flexCenter(column, center, center);
					// background: linear-gradient(
					// 	to right,
					// 	#7b4397,
					// 	#dc2430
					// );
					@include heightWidth(100%, 100%);
					path {
						@include flexCenter(column, center, center);
						@include heightWidth(100%, 100%);
					}
				}
			}
		}
	}
}

@include media('<=phone') {
	.boxThirteenContainer {
		#boxThirteenPage {
			max-width: 160px;
			max-height: 160px;
		}
		.iconContainer {
			&:hover {
			}
			.iconText {
				font-size: 2.5rem;
			}
			.hrefContainer {
				span {
					svg {
						path {
						}
					}
				}
			}
		}
	}
}

@include media('>phone', '<=425px') {
	.boxThirteenContainer {
		#boxThirteenPage {
			max-width: 170px;
			max-height: 170px;
		}
		.iconContainer {
			&:hover {
			}
			.iconText {
				font-size: 2rem;
			}
			.hrefContainer {
				span {
					svg {
						path {
						}
					}
				}
			}
		}
	}
}

@include media('>425px', '<=tablet') {
	.boxThirteenContainer {
		#boxThirteenPage {
			max-width: 200px;
			max-height: 200px;
		}
		.iconContainer {
			&:hover {
			}
			.iconText {
				font-size: 4rem;
			}
			.hrefContainer {
				span {
					svg {
						path {
						}
					}
				}
			}
		}
	}
}

@include media('>600px', '<=tablet') {
	.boxThirteenContainer {
		#boxThirteenPage {
			max-width: 300px;
			max-height: 300px;
		}
		.iconContainer {
			&:hover {
			}
			.iconText {
				font-size: 4rem;
			}
			.hrefContainer {
				span {
					svg {
						path {
						}
					}
				}
			}
		}
	}
}

@include media('>tablet', '<desktop') {
	.boxThirteenContainer {
		#boxThirteenPage {
		}
		.iconContainer {
			&:hover {
			}
			.iconText {
			}
			.hrefContainer {
				span {
					svg {
						path {
						}
					}
				}
			}
		}
	}
}

@include media('>=desktop') {
	.boxThirteenContainer {
		#boxThirteenPage {
		}
		.iconContainer {
			&:hover {
			}
			.iconText {
			}
			.hrefContainer {
				span {
					svg {
						path {
						}
					}
				}
			}
		}
	}
}

@include media('>=LGdesktop', 'retina2x') {
	.boxThirteenContainer {
		#boxThirteenPage {
		}
		.iconContainer {
			&:hover {
			}
			.iconText {
			}
			.hrefContainer {
				span {
					svg {
						path {
						}
					}
				}
			}
		}
	}
}
