@import '../../../../mixins/mixins.scss';

.mainOptions-container {
	@include flexCenter(row, center, center);
	flex-wrap: wrap;
	margin-bottom: 1em;
	@include heightWidth(100%, 100%);
	.mainOptions-button {
		margin: 5px;
		border-radius: 25px;
		padding: 8px;
		border-color: rgba(47, 0, 255, 1);
		background: transparent;
		text-align: center;
		font-size: 12px;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
		'Trebuchet MS', sans-serif;
		@include heightWidth(fit-content, fit-content);
		@include noSelection;
		&:hover {
			background-color: rgba(47, 0, 255, 0.75);
			border-color: rgba(0, 0, 0, 0.5);
		}
		&:focus {
			outline: 0px none;
		}
	}
}
