@-webkit-keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.portfolioContainerDs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 1em;
  border-radius: 3px;
  background-color: #f1e6e6;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
}

.portfolioContainerDs .portfolioHeadingDs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2em 0em 0em;
  font-size: 30px;
  line-height: 30px;
  font-weight: 800;
}

.portfolioContainerDs .portfolioDescriptionDs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
  width: 100%;
  padding: 1em;
}

.portfolioContainerDs .portfolioDescriptionDs .portfolioDescriptionTitleDs {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}

.portfolioContainerDs .portfolioDescriptionDs .portfolioDescriptionTextDs {
  width: 100%;
  margin: 1em 0 -1em;
}

.portfolioContainerDs .portfolioDescriptionDs .portfolioLinkDs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 1em 0em;
  padding: 1em 0;
}

.portfolioContainerDs .portfolioDescriptionDs .portfolioLinkDs a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolioContainerDs .portfolioDescriptionDs .portfolioLinkDs a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  background: rgba(47, 0, 255, 0.75);
  border-color: rgba(0, 0, 0, 0.5);
}

.portfolioContainerDs .portfolioDescriptionDs .portfolioLinkDs a .btnPortfolioDs {
  width: 100%;
  margin: 5px 0px;
  border-radius: 25px;
  padding: 8px;
  background: transparent;
  border-color: #2f00ff;
  text-align: center;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolioContainerDs .portfolioDescriptionDs .portfolioLinkDs a .btnPortfolioDs:focus {
  outline: none;
}

.portfolioContainerDs .portfolioDescriptionDs .portfolioLinkDs a .btnPortfolioDs:hover {
  font-size: 14px;
}

.portfolioContainerDs .portfolioDescriptionDs .portfolioLinkDs a .btnPortfolioDs:focus {
  outline: none;
}

.optionsAdvice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.5em 0;
  border-radius: 3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.optionsAdvice div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f1e6e6;
  padding: 15px;
  margin: 0.25em 0;
  width: 100%;
}

.optionsAdvice div span {
  text-decoration: underline;
  margin: 0px 5px;
}
/*# sourceMappingURL=DavidSPortfolio.css.map */