@import '../../../../../mixins/mixins.scss';
@import '../../../../../breakpoints/breakpoints.scss';

.boxFourteenContain {
	@include heightWidth(100%, 100%);
	margin: 0;
	padding: 0;
	background: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	background: var(--boxFourteenMouseBg);
	.trails-main {
		position: relative;
		overflow: hidden;
		cursor: pointer;
		@include heightWidth(100%, 100%);
		@include flexCenter(row, center, center);
		.trails-container {
			@include flexCenter(column, center, center);
			.trails-text {
				position: relative;
				@include heightWidth(80px, 100%);
				line-height: 80px;
				font-size: 80px;
				font-weight: 800;
				font-family: 'Hanalei', cursive;
				text-transform: uppercase;
				color: rgba(150, 90, 62, 0.75);
				will-change: transform, opacity;
				overflow: hidden;
				text-shadow: 2px 4px 2px rgba(55, 55, 55, 1);
				transition: all 0.5s ease-in-out;
				&:hover {
					color: rgba(150, 90, 62, 1);
					font-size: 6.5em;
					text-shadow: 2px 4px 2px rgba(0, 0, 0, 1);
				}
				> div {
					overflow: hidden;
				}
			}
		}
	}
}

@include media('<=phone') {
	.boxFourteenContain {
		.trails-main {
			.trails-container {
				.trails-text {
					@include heightWidth(40px, 100%);
					line-height: 40px;
					font-size: 40px;
					&:hover {
						@include heightWidth(50px, 100%);
						font-size: 50px;
					}
					> div {
					}
				}
			}
		}
	}
}

@include media('>phone', '<=425px') {
	.boxFourteenContain {
		.trails-main {
			.trails-container {
				.trails-text {
					@include heightWidth(40px, 100%);
					line-height: 40px;
					font-size: 40px;
					&:hover {
						@include heightWidth(50px, 100%);
						font-size: 50px;
					}
					> div {
					}
				}
			}
		}
	}
}

@include media('>425px', '<=tablet') {
	.boxFourteenContain {
		.trails-main {
			.trails-container {
				.trails-text {
					@include heightWidth(70px, 100%);
					line-height: 70px;
					font-size: 70px;
					&:hover {
						@include heightWidth(80px, 100%);
						font-size: 80px;
					}
					> div {
					}
				}
			}
		}
	}
}

@include media('>tablet', '<desktop') {
	.boxFourteenContain {
		.trails-main {
			.trails-container {
				.trails-text {
					&:hover {
					}
					> div {
					}
				}
			}
		}
	}
}

@include media('>=desktop') {
	.boxFourteenContain {
		.trails-main {
			.trails-container {
				.trails-text {
					&:hover {
					}
					> div {
					}
				}
			}
		}
	}
}

@include media('>=LGdesktop', 'retina2x') {
	.boxFourteenContain {
		.trails-main {
			.trails-container {
				.trails-text {
					&:hover {
					}
					> div {
					}
				}
			}
		}
	}
}
