@import '../../../../../mixins/mixins.scss';

// @include heightWidth(50%, 100%);
// @include topLeftAbsolute(0%, 0%);
// @include flexCenter(row, center, center);
.boxFourteenContain {
	@include heightWidth(100%, 100%);
	margin: 0;
	padding: 0;
	background: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	background-color: #7ff585;
	.trails-main {
		position: relative;
		overflow: hidden;
		cursor: pointer;
		@include heightWidth(100%, 100%);
		@include flexCenter(row, center, center);
		.trails-container {
			@include flexCenter(column, center, center);
			.trails-text {
				position: relative;
				@include heightWidth(80px, 100%);
				line-height: 80px;
				color: rgba(150, 90, 62, 0.75);
				font-size: 6em;
				font-weight: 800;
				font-family: 'Hanalei', cursive;
				text-transform: uppercase;
				will-change: transform, opacity;
				overflow: hidden;
				text-shadow: 2px 4px 2px rgba(55, 55, 55, 1);
				transition: all 0.5s ease-in-out;
				&:hover {
					color: rgba(150, 90, 62, 1);
					font-size: 6.5em;
					text-shadow: 2px 4px 2px rgba(0, 0, 0, 1);
				}
				> div {
					overflow: hidden;
				}
			}
		}
	}
}
