@-webkit-keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/**
*
* Testing
*
**/
.boxFourteenContain {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  background: var(--boxFourteenMouseBg);
}

.boxFourteenContain .trails-main {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxFourteenContain .trails-main .trails-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxFourteenContain .trails-main .trails-container .trails-text {
  position: relative;
  height: 80px;
  width: 100%;
  line-height: 80px;
  font-size: 80px;
  font-weight: 800;
  font-family: 'Hanalei', cursive;
  text-transform: uppercase;
  color: rgba(150, 90, 62, 0.75);
  will-change: transform, opacity;
  overflow: hidden;
  text-shadow: 2px 4px 2px #373737;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.boxFourteenContain .trails-main .trails-container .trails-text:hover {
  color: #965a3e;
  font-size: 6.5em;
  text-shadow: 2px 4px 2px black;
}

.boxFourteenContain .trails-main .trails-container .trails-text > div {
  overflow: hidden;
}

@media (max-width: 360px) {
  .boxFourteenContain .trails-main .trails-container .trails-text {
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-size: 40px;
  }
  .boxFourteenContain .trails-main .trails-container .trails-text:hover {
    height: 50px;
    width: 100%;
    font-size: 50px;
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  .boxFourteenContain .trails-main .trails-container .trails-text {
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-size: 40px;
  }
  .boxFourteenContain .trails-main .trails-container .trails-text:hover {
    height: 50px;
    width: 100%;
    font-size: 50px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .boxFourteenContain .trails-main .trails-container .trails-text {
    height: 70px;
    width: 100%;
    line-height: 70px;
    font-size: 70px;
  }
  .boxFourteenContain .trails-main .trails-container .trails-text:hover {
    height: 80px;
    width: 100%;
    font-size: 80px;
  }
}
/*# sourceMappingURL=BoxFourteen.css.map */