:root {
	--headerColor: linear-gradient(
		90deg,
		#ff6e7f 0%,
		#bfe9ff 100%
	);
	--titleColor: #f1f1f1;
	--secondaryColor: #fffcfc;

	// BoxFour Colors
	--colorOne: crimson;
	--colorTwo: teal;
	--colorThree: coral;
	--colorFour: hotpink;
	--colorFive: skyblue;
	--colorSix: salmon;
	--colorSeven: seagreen;
	--colorEight: peachpuff;

	// Box Backgrounds
	--boxTwoBg: radial-gradient(
		circle,
		rgba(224, 148, 233, 1) 0%,
		rgba(255, 199, 123, 1) 100%
	);
	--boxThreeBg: radial-gradient(
		circle,
		rgba(123, 189, 255, 1) 0%,
		rgba(233, 216, 148, 1) 100%
	);
	--boxFiveBg: linear-gradient(
		90deg,
		rgba(255, 175, 123, 1) 0%,
		rgba(148, 233, 219, 1) 100%
	);

	--mainText: #000000;
	--subText: rgba(0, 0, 0, 0.75);
	--secondaryText: #084181;
	--TertiaryText: #ffffff;

	--Btn: #084181;
	--BtnHover: rgba(0, 0, 0, 1);
	--BtnText: #63dbff;

	--formColor: #ffffff;
	--textBoxTextTitle: rgba(0, 0, 0, 1);
	--textBoxText: rgba(0, 0, 0, 1);
	--shadow: rgb(0, 0, 0, 0.75);

	--background: none;
	--DisplayNone: none;
}

:root[themeChanger='Dark'] {
	--headerColor: linear-gradient(
		90deg,
		#2b5876 0%,
		#4e4376 100%
	);
	--titleColor: #000000;
	--secondaryColor: #0b0a0a;

	// BoxFour Colors
	--colorOne: #8ced7d;
	--colorTwo: #b3897b;
	--colorThree: #98faff;
	--colorFour: #d3ffa6;
	--colorFive: #f3ccb9;
	--colorSix: #aafcd2;
	--colorSeven: #b98c87;
	--colorEight: ##d4d8fe;

	// Box Backgrounds
	--boxTwoBg: radial-gradient(
		circle,
		rgba(255, 199, 123, 1) 0%,
		rgba(224, 148, 233, 1) 100%
	);
	--boxThreeBg: radial-gradient(
		circle,
		rgba(233, 216, 148, 1) 0%,
		rgba(123, 189, 255, 1) 100%
	);
	--boxFiveBg: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(62, 133, 238, 1) 1.1%,
		rgba(227, 137, 240, 1) 43.7%,
		rgba(243, 193, 124, 1) 89.7%
	);

	--mainText: #ffffff;
	--subText: rgba(255, 255, 255, 0.75);
	--secondaryText: #ffffff;
	--TertiaryText: #ffffff;

	--Btn: #5e5e5e;
	--BtnHover: rgba(255, 55, 255, 1);
	--BtnText: #000000;

	--formColor: #b5b5b5;
	--textBoxTextTitle: rgba(255, 255, 255, 1);
	--textBoxText: rgba(255, 255, 255, 0.95);
	--shadow: rgb(255, 255, 255, 0.25);

	--background: none;
	--DisplayNone: none;
}
