@-webkit-keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.navbarContainer {
  z-index: 10000;
  height: 4vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 0px 1em;
  font-size: 20px;
  text-align: center;
  color: black;
  background: var(--headerColor);
  background-size: 400%;
  -webkit-animation: headingAnimation 5s infinite 0s alternate;
          animation: headingAnimation 5s infinite 0s alternate;
}

.navbarContainer .logo {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'Oleo Script', 'Hanalei', cursive;
  color: transparent;
  background-image: url("../../../images/cool-background.png");
  background-clip: text;
  background-size: 400%;
  font-size: calc(30px + 1vw);
  line-height: 43px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  -webkit-animation: headingAnimation 5s infinite 0s alternate;
          animation: headingAnimation 5s infinite 0s alternate;
}

.navbarContainer .list {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rokkitt', 'Hanalei', cursive, serif;
  margin: 0px 1em;
  font-weight: 600;
}

.navbarContainer .list .listItem {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: calc(20px + 1vw);
  line-height: 50px;
}

.navbarContainer .list .listItem .listItemLink {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #101110;
  color: transparent;
  background: -webkit-gradient(linear, left top, right top, from(white), to(black));
  background: linear-gradient(90deg, white 0%, black 100%);
  background-clip: text;
  background-size: 400%;
  -webkit-animation: headingAnimation 5s infinite 0s alternate;
          animation: headingAnimation 5s infinite 0s alternate;
}

.navbarContainer .list .listItem .listItemLink:hover {
  color: #360fe6;
  font-weight: 900;
}

.navbarContainer .switchBtn {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 1em;
}
/*# sourceMappingURL=Header.css.map */