@import '../../../mixins/mixins.scss';
@import '../../../breakpoints/breakpoints.scss';

.navbarContainer {
	z-index: 10000;
	@include heightWidth(4vh, 100%);
	@include flexCenter(row, center, center);
	@include topLeftAbsolute(0%, 0%);
	padding: 0px 1em;
	font-size: 20px;
	text-align: center;
	color: black;
	background: var(--headerColor);
	background-size: 400%;
	animation: headingAnimation 5s infinite 0s alternate;
	.logo {
		@include heightWidth(100%, 100%);
		@include flexCenter(row, flex-start, flex-start);
		font-family: 'Oleo Script', 'Hanalei', cursive;
		color: transparent;
		background-image: url('../../../images/cool-background.png');
		background-clip: text;
		background-size: 400%;
		font-size: calc(30px + 1vw);
		line-height: 43px;
		@include noSelection;
	}
	.list {
		@include heightWidth(100%, 100%);
		@include flexCenter(row, center, center);
		font-family: 'Rokkitt', 'Hanalei', cursive, serif;
		margin: 0px 1em;
		font-weight: 600;
		.listItem {
			@include heightWidth(100%, 100%);
			@include flexCenter(row, space-around, flex-start);
			font-size: calc(20px + 1vw);
			line-height: 50px;
			.listItemLink {
				@include heightWidth(100%, 100%);
				@include flexCenter(row, space-around, flex-start);
				transition: all 0.5s ease-in-out;
				color: rgb(16, 17, 16);
				color: transparent;
				background: var(--navColor);
				background-clip: text;
				background-size: 400%;
				animation: headingAnimation 5s infinite 0s alternate;
				&:hover {
					color: rgb(54, 15, 230);
					font-weight: 900;
				}
			}
		}
	}
	.switchBtn {
		@include heightWidth(100%, 100%);
		@include flexCenter(row, flex-end, center);
		margin: 0px 1em;
	}

	@include media('<=phone') {
		padding: 0px;
		.logo {
			font-size: 18px;
			line-height: 34px;
			padding-left: 0.25em;
		}
		.list {
			margin: 0;
			.listItem {
				font-size: 12px;
				line-height: 36px;
				.listItemLink {
					margin: 0 0.5em;
					white-space: nowrap;
					&:hover {
					}
				}
			}
		}
		.switchBtn {
			@include heightWidth(100%, 30%);
			margin: 0;
			padding: 0;
			padding-right: 0.5em;
		}
	}

	@include media('>phone', '<=425px') {
		padding: 0px;
		.logo {
			font-size: 22px;
			line-height: 46px;
			padding-left: 0.25em;
			margin-left: 0.5em;
		}
		.list {
			margin: 0;
			.listItem {
				font-size: 14px;
				line-height: 42px;
				.listItemLink {
					margin: 0 0.5em;
					white-space: nowrap;
					&:hover {
					}
				}
			}
		}
		.switchBtn {
			@include heightWidth(100%, 30%);
			margin: 0;
			padding: 0;
			padding-right: 0.5em;
		}
	}

	@include media('>425px', '<=tablet') {
		padding: 0px;
		.logo {
			font-size: 24px;
			line-height: 46px;
			padding-left: 0.25em;
		}
		.list {
			margin: 0;
			.listItem {
				font-size: 14px;
				line-height: 54px;
				.listItemLink {
					margin: 0 0.5em;
					white-space: nowrap;
					&:hover {
					}
				}
			}
		}
		.switchBtn {
			@include heightWidth(100%, 30%);
			margin: 0;
			padding: 0;
			padding-right: 0.5em;
		}
	}

	@include media('>580px', '<=tablet') {
		.logo {
			font-size: 30px;
			line-height: 46px;
			padding-left: 0.25em;
		}
		.list {
			.listItem {
				font-size: 24px;
				line-height: 46px;
				.listItemLink {
					&:hover {
					}
				}
			}
		}
		.switchBtn {
		}
	}

	@include media('>tablet', '<desktop') {
		padding: 0px;
		.logo {
			font-size: 36px;
			line-height: 46px;
			padding-left: 0.25em;
		}
		.list {
			margin: 0;
			.listItem {
				font-size: 24px;
				line-height: 50px;
				.listItemLink {
					margin: 0 0.5em;
					white-space: nowrap;
					&:hover {
					}
				}
			}
		}
		.switchBtn {
			@include heightWidth(100%, 30%);
			margin: 0;
			padding: 0;
			padding-right: 0.5em;
		}
	}

	@include media('>1000px', '<desktop') {
		.logo {
			font-size: 46px;
			line-height: 46px;
			padding-left: 0.25em;
		}
		.list {
			.listItem {
				font-size: 44px;
				line-height: 46px;
				.listItemLink {
					&:hover {
					}
				}
			}
		}
		.switchBtn {
			@include heightWidth(100%, 30%);
			margin: 0;
			padding: 0;
			padding-right: 0.5em;
		}
	}

	@include media('>=desktop') {
		.logo {
			font-size: 46px;
			line-height: 46px;
			padding-left: 0.25em;
		}
		.list {
			.listItem {
				font-size: 44px;
				line-height: 46px;
				.listItemLink {
					&:hover {
					}
				}
			}
		}
		.switchBtn {
			@include heightWidth(100%, 30%);
			margin: 0;
			padding: 0;
			padding-right: 0.5em;
		}
	}

	@include media('>=LGdesktop', 'retina2x') {
		.logo {
			font-size: 46px;
			line-height: 46px;
			padding-left: 0.25em;
		}
		.list {
			.listItem {
				font-size: 44px;
				line-height: 46px;
				.listItemLink {
					&:hover {
					}
				}
			}
		}
		.switchBtn {
			@include heightWidth(100%, 30%);
			margin: 0;
			padding: 0;
			padding-right: 0.5em;
		}
	}
}
