@import '../../../mixins/mixins.scss';

.navbarContainer {
	z-index: 10000;
	@include heightWidth(4vh, 100%);
	@include flexCenter(row, center, space-between);
	@include topLeftAbsolute(0%, 0%);
	padding: 0px 1em;
	font-size: 20px;
	text-align: center;
	color: black;
	background: var(--headerColor);
	background-size: 400%;
	animation: bgAnimation 5s infinite 0s alternate;
	.logo {
		@include heightWidth(100%, 100%);
		@include flexCenter(row, flex-start, flex-start);
		font-family: 'Oleo Script', 'Hanalei', cursive;
		color: transparent;
		background-image: url('../../../images/cool-background.png');
		background-clip: text;
		background-size: 400%;
		font-size: calc(30px + 1vw);
		line-height: 43px;
		@include noSelection;
		animation: bgAnimation 5s infinite 0s alternate;
	}
	.list {
		@include heightWidth(100%, 100%);
		@include flexCenter(row, center, center);
		font-family: 'Rokkitt', 'Hanalei', cursive, serif;
		margin: 0px 1em;
		font-weight: 600;
		.listItem {
			@include heightWidth(100%, 100%);
			@include flexCenter(row, space-around, flex-start);
			font-size: calc(20px + 1vw);
			line-height: 50px;
			.listItemLink {
				@include heightWidth(100%, 100%);
				@include flexCenter(row, space-around, flex-start);
				transition: all 0.5s ease-in-out;
				color: rgb(16, 17, 16);
				color: transparent;
				background: linear-gradient(
					90deg,
					rgb(255, 255, 255) 0%,
					rgb(0, 0, 0) 100%
				);
				background-clip: text;
				background-size: 400%;
				animation: bgAnimation 5s infinite 0s alternate;
				&:hover {
					color: rgb(54, 15, 230);
					font-weight: 900;
				}
			}
		}
	}
	.switchBtn {
		@include heightWidth(100%, 100%);
		@include flexCenter(row, flex-end, center);
		margin: 0px 1em;
	}
}
