.navbarContainer {
  z-index: 10;
  height: 4vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 0px 1em;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: var(--mainColor);
}

.navbarContainer .logo {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'Oleo Script', 'Hanalei', cursive;
  color: rgba(39, 35, 249, 0.5);
  background-image: url("../../../images/cool-background.png");
  background-clip: text;
  background-size: 40vw;
  font-size: 40px;
  line-height: 43px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  -webkit-animation: headingAnimation 5s infinite 0s alternate;
          animation: headingAnimation 5s infinite 0s alternate;
}

.navbarContainer .list {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rokkitt', 'Hanalei', cursive, serif;
  margin: 0px 1em;
}

.navbarContainer .list .listItem {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 30px;
  line-height: 55px;
}

.navbarContainer .list .listItem .listItemLink {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.navbarContainer .list .listItem .listItemLink:hover {
  color: violet;
}

.navbarContainer .switchBtn {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 1em;
}

@-webkit-keyframes headingAnimation {
  0% {
    background-size: 10vw;
    background-position: left;
  }
  100% {
    background-size: 100vw;
    background-position: right;
  }
}

@keyframes headingAnimation {
  0% {
    background-size: 10vw;
    background-position: left;
  }
  100% {
    background-size: 100vw;
    background-position: right;
  }
}
/*# sourceMappingURL=Header.css.map */