@-webkit-keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.portfolioContainerJh {
  height: 150%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-radius: 5px;
  background-color: #f1e6e6;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  pointer-events: none;
  padding: 2em 1em;
}

.portfolioContainerJh .portfolioHeadingJh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-decoration: underline;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
  margin: 0em 0.5em;
  font-size: 26px;
  line-height: 32px;
  font-weight: 800;
}

.portfolioContainerJh .portfolioDescriptionJh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  width: 100%;
  padding: 0em 1em;
}

.portfolioContainerJh .portfolioDescriptionJh .portfolioDescriptionTitleJh {
  width: 100%;
  pointer-events: none;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 800;
}

.portfolioContainerJh .portfolioDescriptionJh .portfolioDescriptionTextJh {
  width: 100%;
  pointer-events: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
}

.portfolioContainerJh .portfolioDescriptionJh .portfolioLinkJh {
  margin: 0.25em 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  pointer-events: auto;
}

.portfolioContainerJh .portfolioDescriptionJh .portfolioLinkJh a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolioContainerJh .portfolioDescriptionJh .portfolioLinkJh a:hover {
  color: #ffffff;
}

.portfolioContainerJh .portfolioDescriptionJh .portfolioLinkJh a:focus {
  outline: none;
}

.portfolioContainerJh .portfolioDescriptionJh .portfolioLinkJh a .btnPortfolioJh {
  width: 100%;
  margin: 5px 0px;
  border-radius: 25px;
  padding: 8px;
  background: transparent;
  border-color: #2f00ff;
  text-align: center;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolioContainerJh .portfolioDescriptionJh .portfolioLinkJh a .btnPortfolioJh:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  background: rgba(47, 0, 255, 0.75);
  border-color: rgba(0, 0, 0, 0.5);
}

.portfolioContainerJh .portfolioDescriptionJh .portfolioLinkJh a .btnPortfolioJh:focus {
  outline: none;
}

.optionsAdvice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.5em 0;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.optionsAdvice div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f1e6e6;
  padding: 15px;
  margin: 0.25em 0;
  width: 100%;
}

.optionsAdvice div span {
  text-decoration: underline;
  margin: 0px 5px;
}
/*# sourceMappingURL=JasonHPortfolio.css.map */