@import '../../../../../../mixins/mixins.scss';

.portfolioContainerJh {
	@include flexCenter(column, center, center);
	padding: 3em 1em;
	border-radius: 3px;
	background-color: #f1e6e6;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
		'Trebuchet MS', sans-serif;
	width: 100%;
	.portfolioHeadingJh {
		@include flexCenter(row, flex-end, center);
		width: fit-content;
		margin: 2em 0em 0em;
		font-size: 30px;
		line-height: 30px;
		font-weight: 800;
	}
	.portfolioDescriptionJh {
		@include flexCenter(column, center, flex-start);
		text-align: start;
		width: 100%;
		padding: 1em;
		.portfolioDescriptionTitleJh {
			width: 100%;
			font-size: 16px;
			font-weight: 700;
			text-decoration: underline;
		}
		.portfolioDescriptionTextJh {
			width: 100%;
			margin: 1em 0 -1em;
		}
		.portfolioLinkJh {
			width: 100%;
			@include flexCenter(row, center, flex-end);
			margin: 1em 0em;
			padding: 1em 0;
			a {
				text-decoration: none;
				color: #000000;
				font-size: 12px;
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
					'Trebuchet MS', sans-serif;
				transition: all 0.5s ease-in-out;
				&:hover {
					transform: scale(1);
					background: rgba(47, 0, 255, 0.75);
					border-color: rgba(0, 0, 0, 0.5);
				}
				&:focus {
					outline: none;
				}
				.btnPortfolioJh {
					width: 100%;
					margin: 5px 0px;
					border-radius: 25px;
					padding: 8px;
					background: transparent;
					border-color: rgba(47, 0, 255, 1);
					text-align: center;
					@include noSelection;
					transform: scale(0.9);
					transition: all 0.5s ease-in-out;
					&:hover {
						font-size: 14px;
					}
					&:focus {
						outline: none;
					}
				}
			}
		}
	}
}

.optionsAdvice {
	@include flexCenter(row, center, center);
	flex-wrap: wrap;
	margin: 0.5em 0;
	border-radius: 3px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
		'Trebuchet MS', sans-serif;
	div {
		@include flexCenter(row, center, center);
		flex-wrap: wrap;
		background-color: #f1e6e6;
		padding: 15px;
		margin: 0.25em 0;
		width: 100%;
		span {
			text-decoration: underline;
			margin: 0px 5px;
		}
	}
}
