/**
*
* Testing
*
**/
@-webkit-keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.NavLink {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.NavLink .rightCircle {
  position: absolute;
  top: 41.75%;
  right: -3vw;
  -webkit-transform: translateX(-41.75%, -3vw);
          transform: translateX(-41.75%, -3vw);
  height: 50px;
  width: 100px;
  border-radius: 100px 100px 0 0;
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.NavLink .rightCircle:hover {
  background: rgba(25, 255, 255, 0.5);
}

.NavLink .leftCircle {
  position: absolute;
  top: 41.75%;
  left: -3vw;
  -webkit-transform: translateX(-41.75%, -3vw);
          transform: translateX(-41.75%, -3vw);
  height: 50px;
  width: 100px;
  border-radius: 100px 100px 0 0;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.NavLink .leftCircle:hover {
  background: rgba(25, 255, 255, 0.5);
}

.NavLink .bottomCircle {
  position: absolute;
  bottom: 4%;
  left: 46.5%;
  -webkit-transform: translateX(4%, -46.5%);
          transform: translateX(4%, -46.5%);
  height: 50px;
  width: 100px;
  border-radius: 100px 100px 0 0;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.NavLink .bottomCircle:hover {
  background: rgba(25, 255, 255, 0.5);
}

.NavLink .topCircle {
  position: absolute;
  top: 4vh;
  left: 46.5%;
  -webkit-transform: translateX(-1vh, -46.5%);
          transform: translateX(-1vh, -46.5%);
  height: 50px;
  width: 100px;
  border-radius: 100px 100px 0 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.NavLink .topCircle:hover {
  background: rgba(25, 255, 255, 0.5);
}

@media (max-width: 360px) {
  .NavLink .rightCircle {
    position: absolute;
    top: 41.75%;
    right: -7.5vw;
    -webkit-transform: translateX(-41.75%, -7.5vw);
            transform: translateX(-41.75%, -7.5vw);
  }
  .NavLink .leftCircle {
    position: absolute;
    top: 41.75%;
    left: -7.5vw;
    -webkit-transform: translateX(-41.75%, -7.5vw);
            transform: translateX(-41.75%, -7.5vw);
  }
  .NavLink .bottomCircle {
    position: absolute;
    bottom: 4%;
    left: 38%;
    -webkit-transform: translateX(4%, -38%);
            transform: translateX(4%, -38%);
  }
  .NavLink .topCircle {
    position: absolute;
    top: 4vh;
    left: 38%;
    -webkit-transform: translateX(-1vh, -38%);
            transform: translateX(-1vh, -38%);
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  .NavLink .rightCircle {
    position: absolute;
    top: 41.75%;
    right: -7.5vw;
    -webkit-transform: translateX(-41.75%, -7.5vw);
            transform: translateX(-41.75%, -7.5vw);
  }
  .NavLink .leftCircle {
    position: absolute;
    top: 41.75%;
    left: -7.5vw;
    -webkit-transform: translateX(-41.75%, -7.5vw);
            transform: translateX(-41.75%, -7.5vw);
  }
  .NavLink .bottomCircle {
    position: absolute;
    bottom: 4%;
    left: 38%;
    -webkit-transform: translateX(4%, -38%);
            transform: translateX(4%, -38%);
  }
  .NavLink .topCircle {
    position: absolute;
    top: 4vh;
    left: 38%;
    -webkit-transform: translateX(-1vh, -38%);
            transform: translateX(-1vh, -38%);
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .NavLink .rightCircle {
    position: absolute;
    top: 41.75%;
    right: -6vw;
    -webkit-transform: translateX(-41.75%, -6vw);
            transform: translateX(-41.75%, -6vw);
  }
  .NavLink .leftCircle {
    position: absolute;
    top: 41.75%;
    left: -6vw;
    -webkit-transform: translateX(-41.75%, -6vw);
            transform: translateX(-41.75%, -6vw);
  }
  .NavLink .bottomCircle {
    position: absolute;
    bottom: 4%;
    left: 43%;
    -webkit-transform: translateX(4%, -43%);
            transform: translateX(4%, -43%);
  }
  .NavLink .topCircle {
    position: absolute;
    top: 4vh;
    left: 43%;
    -webkit-transform: translateX(-1vh, -43%);
            transform: translateX(-1vh, -43%);
  }
}

@media (min-width: 769px) and (max-width: 1365px) {
  .NavLink .rightCircle {
    position: absolute;
    top: 41.75%;
    right: -3.5vw;
    -webkit-transform: translateX(-41.75%, -3.5vw);
            transform: translateX(-41.75%, -3.5vw);
  }
  .NavLink .leftCircle {
    position: absolute;
    top: 41.75%;
    left: -3.5vw;
    -webkit-transform: translateX(-41.75%, -3.5vw);
            transform: translateX(-41.75%, -3.5vw);
  }
  .NavLink .bottomCircle {
    position: absolute;
    bottom: 4%;
    left: 43%;
    -webkit-transform: translateX(4%, -43%);
            transform: translateX(4%, -43%);
  }
  .NavLink .topCircle {
    position: absolute;
    top: 4vh;
    left: 43%;
    -webkit-transform: translateX(-1vh, -43%);
            transform: translateX(-1vh, -43%);
  }
}

@media (min-width: 1366px) {
  .NavLink .rightCircle {
    position: absolute;
    top: 41.75%;
    right: -2vw;
    -webkit-transform: translateX(-41.75%, -2vw);
            transform: translateX(-41.75%, -2vw);
  }
  .NavLink .leftCircle {
    position: absolute;
    top: 41.75%;
    left: -2vw;
    -webkit-transform: translateX(-41.75%, -2vw);
            transform: translateX(-41.75%, -2vw);
  }
  .NavLink .bottomCircle {
    position: absolute;
    bottom: 4%;
    left: 46.5%;
    -webkit-transform: translateX(4%, -46.5%);
            transform: translateX(4%, -46.5%);
  }
  .NavLink .topCircle {
    position: absolute;
    top: 4vh;
    left: 46.5%;
    -webkit-transform: translateX(-1vh, -46.5%);
            transform: translateX(-1vh, -46.5%);
  }
}

@media (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1920px) and (min-resolution: 192dpi) {
  .NavLink .rightCircle {
    position: absolute;
    top: 41.75%;
    right: -1.5vw;
    -webkit-transform: translateX(-41.75%, -1.5vw);
            transform: translateX(-41.75%, -1.5vw);
  }
  .NavLink .leftCircle {
    position: absolute;
    top: 41.75%;
    left: -1.5vw;
    -webkit-transform: translateX(-41.75%, -1.5vw);
            transform: translateX(-41.75%, -1.5vw);
  }
  .NavLink .bottomCircle {
    position: absolute;
    bottom: 4%;
    left: 46.5%;
    -webkit-transform: translateX(4%, -46.5%);
            transform: translateX(4%, -46.5%);
  }
  .NavLink .topCircle {
    position: absolute;
    top: 4vh;
    left: 46.5%;
    -webkit-transform: translateX(-1vh, -46.5%);
            transform: translateX(-1vh, -46.5%);
  }
}
/*# sourceMappingURL=NavBtns.css.map */