@import '../../../../breakpoints/breakpoints.scss';
@import '../../../../mixins/mixins.scss';

.NavLink {
	width: fit-content;
	height: fit-content;
	.rightTriangle {
		@include topRightAbsolute(41.75%, 1%);
		transform: translateX(-41.75%, -1%);
		width: 0;
		height: 0;
		border-top: 60px solid transparent;
		border-bottom: 60px solid transparent;
		border-left: 60px solid rgba(0, 0, 0, 0.5);
		z-index: 2000;
		&:hover {
			border-left: 60px solid rgba(25, 255, 255, 1);
		}
	}
	.leftTriangle {
		@include topLeftAbsolute(41.75%, 0%);
		transform: translateX(-41.75%, -0%);
		width: 0;
		height: 0;
		border-top: 60px solid transparent;
		border-bottom: 60px solid transparent;
		border-right: 60px solid rgba(0, 0, 0, 0.5);
		z-index: 2000;
		&:hover {
			border-right: 60px solid rgba(25, 255, 255, 1);
		}
	}
	.bottomTriangle {
		@include bottomLeftAbsolute(-0.75%, 46.5%);
		transform: translateX(-0.75%, -46.5%);
		width: 0;
		height: 0;
		border-top: 60px solid transparent;
		border-bottom: 60px solid transparent;
		border-right: 60px solid rgba(0, 0, 0, 0.5);
		transform: rotateZ(270deg);
		z-index: 2000;
		&:hover {
			border-right: 60px solid rgba(25, 255, 255, 1);
		}
	}
	.topTriangle {
		@include topLeftAbsolute(4vh, 46.5%);
		transform: translateX(-1vh, -46.5%);
		width: 0;
		height: 0;
		border-top: 60px solid transparent;
		border-bottom: 60px solid transparent;
		border-right: 60px solid rgba(0, 0, 0, 0.5);
		transform: rotateZ(90deg);
		z-index: 2000;
		&:hover {
			border-right: 60px solid rgba(25, 255, 255, 1);
		}
	}
}
