@import '../../../../breakpoints/breakpoints.scss';
@import '../../../../mixins/mixins.scss';

.NavLink {
	width: fit-content;
	height: fit-content;
	.rightCircle {
		@include topRightAbsolute(41.75%, -3vw);
		transform: translateX(-41.75%, -3vw);
		height: 50px;
		width: 100px;
		border-radius: 100px 100px 0 0;
		transform: rotateZ(270deg);
		background: rgba(0, 0, 0, 0.5);
		z-index: 2000;
		transition: all 1s ease-in-out;
		&:hover {
			background: rgba(25, 255, 255, 0.5);
		}
	}
	.leftCircle {
		@include topLeftAbsolute(41.75%, -3vw);
		transform: translateX(-41.75%, -3vw);
		height: 50px;
		width: 100px;
		border-radius: 100px 100px 0 0;
		transform: rotateZ(90deg);
		background: rgba(0, 0, 0, 0.5);
		z-index: 2000;
		transition: all 1s ease-in-out;
		&:hover {
			background: rgba(25, 255, 255, 0.5);
		}
	}
	.bottomCircle {
		@include bottomLeftAbsolute(4%, 46.5%);
		transform: translateX(4%, -46.5%);
		height: 50px;
		width: 100px;
		border-radius: 100px 100px 0 0;
		transform: rotateZ(0deg);
		background: rgba(0, 0, 0, 0.5);
		z-index: 2000;
		transition: all 1s ease-in-out;
		&:hover {
			background: rgba(25, 255, 255, 0.5);
		}
	}
	.topCircle {
		@include topLeftAbsolute(4vh, 46.5%);
		transform: translateX(-1vh, -46.5%);
		height: 50px;
		width: 100px;
		border-radius: 100px 100px 0 0;
		transform: rotateZ(180deg);
		background: rgba(0, 0, 0, 0.5);
		z-index: 2000;
		transition: all 1s ease-in-out;
		&:hover {
			background: rgba(25, 255, 255, 0.5);
		}
	}
}

@include media('<=phone') {
	.NavLink {
		.rightCircle {
			@include topRightAbsolute(41.75%, -7.5vw);
			transform: translateX(-41.75%, -7.5vw);
			&:hover {
			}
		}
		.leftCircle {
			@include topLeftAbsolute(41.75%, -7.5vw);
			transform: translateX(-41.75%, -7.5vw);
			&:hover {
			}
		}
		.bottomCircle {
			@include bottomLeftAbsolute(4%, 38%);
			transform: translateX(4%, -38%);
			&:hover {
			}
		}
		.topCircle {
			@include topLeftAbsolute(4vh, 38%);
			transform: translateX(-1vh, -38%);
			&:hover {
			}
		}
	}
}

@include media('>phone', '<=425px') {
	.NavLink {
		.rightCircle {
			@include topRightAbsolute(41.75%, -7.5vw);
			transform: translateX(-41.75%, -7.5vw);
			&:hover {
			}
		}
		.leftCircle {
			@include topLeftAbsolute(41.75%, -7.5vw);
			transform: translateX(-41.75%, -7.5vw);
			&:hover {
			}
		}
		.bottomCircle {
			@include bottomLeftAbsolute(4%, 38%);
			transform: translateX(4%, -38%);
			&:hover {
			}
		}
		.topCircle {
			@include topLeftAbsolute(4vh, 38%);
			transform: translateX(-1vh, -38%);
			&:hover {
			}
		}
	}
}

@include media('>425px', '<=tablet') {
	.NavLink {
		.rightCircle {
			@include topRightAbsolute(41.75%, -6vw);
			transform: translateX(-41.75%, -6vw);
			&:hover {
			}
		}
		.leftCircle {
			@include topLeftAbsolute(41.75%, -6vw);
			transform: translateX(-41.75%, -6vw);
			&:hover {
			}
		}
		.bottomCircle {
			@include bottomLeftAbsolute(4%, 43%);
			transform: translateX(4%, -43%);
			&:hover {
			}
		}
		.topCircle {
			@include topLeftAbsolute(4vh, 43%);
			transform: translateX(-1vh, -43%);
			&:hover {
			}
		}
	}
}

@include media('>tablet', '<desktop') {
	.NavLink {
		.rightCircle {
			@include topRightAbsolute(41.75%, -3.5vw);
			transform: translateX(-41.75%, -3.5vw);
			&:hover {
			}
		}
		.leftCircle {
			@include topLeftAbsolute(41.75%, -3.5vw);
			transform: translateX(-41.75%, -3.5vw);
			&:hover {
			}
		}
		.bottomCircle {
			@include bottomLeftAbsolute(4%, 43%);
			transform: translateX(4%, -43%);
			&:hover {
			}
		}
		.topCircle {
			@include topLeftAbsolute(4vh, 43%);
			transform: translateX(-1vh, -43%);
			&:hover {
			}
		}
	}
}

@include media('>=desktop') {
	.NavLink {
		.rightCircle {
			@include topRightAbsolute(41.75%, -2vw);
			transform: translateX(-41.75%, -2vw);
			&:hover {
			}
		}
		.leftCircle {
			@include topLeftAbsolute(41.75%, -2vw);
			transform: translateX(-41.75%, -2vw);
			&:hover {
			}
		}
		.bottomCircle {
			@include bottomLeftAbsolute(4%, 46.5%);
			transform: translateX(4%, -46.5%);
			&:hover {
			}
		}
		.topCircle {
			@include topLeftAbsolute(4vh, 46.5%);
			transform: translateX(-1vh, -46.5%);
			&:hover {
			}
		}
	}
}

@include media('>=LGdesktop', 'retina2x') {
	.NavLink {
		.rightCircle {
			@include topRightAbsolute(41.75%, -1.5vw);
			transform: translateX(-41.75%, -1.5vw);
			&:hover {
			}
		}
		.leftCircle {
			@include topLeftAbsolute(41.75%, -1.5vw);
			transform: translateX(-41.75%, -1.5vw);
			&:hover {
			}
		}
		.bottomCircle {
			@include bottomLeftAbsolute(4%, 46.5%);
			transform: translateX(4%, -46.5%);
			&:hover {
			}
		}
		.topCircle {
			@include topLeftAbsolute(4vh, 46.5%);
			transform: translateX(-1vh, -46.5%);
			&:hover {
			}
		}
	}
}
