@import '../../../../breakpoints/breakpoints.scss';
@import '../../../../mixins/mixins.scss';

.NavLink {
	width: fit-content;
	height: fit-content;
	.rightCircle {
		@include topRightAbsolute(41.75%, -3vw);
		transform: translateX(-41.75%, -3vw);
		height: 50px;
		width: 100px;
		border-radius: 100px 100px 0 0;
		transform: rotateZ(270deg);
		background: rgba(0, 0, 0, 0.5);
		z-index: 2000;
		transition: all 1s ease-in-out;
		&:hover {
			background: rgba(25, 255, 255, 0.5);
		}
	}
	.leftCircle {
		@include topLeftAbsolute(41.75%, -3vw);
		transform: translateX(-41.75%, -3vw);
		height: 50px;
		width: 100px;
		border-radius: 100px 100px 0 0;
		transform: rotateZ(90deg);
		background: rgba(0, 0, 0, 0.5);
		z-index: 2000;
		transition: all 1s ease-in-out;
		&:hover {
			background: rgba(25, 255, 255, 0.5);
		}
	}
	.bottomCircle {
		@include bottomLeftAbsolute(4%, 46.5%);
		transform: translateX(4%, -46.5%);
		height: 50px;
		width: 100px;
		border-radius: 100px 100px 0 0;
		transform: rotateZ(0deg);
		background: rgba(0, 0, 0, 0.5);
		z-index: 2000;
		transition: all 1s ease-in-out;
		&:hover {
			background: rgba(25, 255, 255, 0.5);
		}
	}
	.topCircle {
		@include topLeftAbsolute(4vh, 46.5%);
		transform: translateX(-1vh, -46.5%);
		height: 50px;
		width: 100px;
		border-radius: 100px 100px 0 0;
		transform: rotateZ(180deg);
		background: rgba(0, 0, 0, 0.5);
		z-index: 2000;
		transition: all 1s ease-in-out;
		&:hover {
			background: rgba(25, 255, 255, 0.5);
		}
	}
}
