@import '../../../mixins/mixins.scss';
@import '../../../breakpoints/breakpoints.scss';

.introAnimationContainer {
	background: var(--bg);
	font-family: 'Bungee Shade', cursive;
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 5px;
	.introAnimationImgContainer {
		@include flexCenter(row, center, center);
		@include topLeftAbsolute(-25%, 0%);
		@include heightWidth(100%, 100%);
		overflow: hidden;
		.introAnimationImg {
			pointer-events: all;
			@include heightWidth(300px, 300px);
			transition: all 0.5s ease-in-out;
			animation: animatedRotateGear 14s linear 0s infinite
				forwards;
		}
	}
	.introAnimationMainText {
		@include flexCenter(row, center, center);
		font-size: 50px;
		line-height: 50px;
		font-weight: 500;
		transform: scale(1);
		transition: all 0.5s ease-in-out;
		&:hover {
			transform: scale(1.1);
		}
		.introAnimationListLink {
			@include flexCenter(row, center, center);
			@include heightWidth(fit-content, 100%);
			color: transparent;
			color: var(--colorFive);
			.endTextContainer {
				margin: 0;
				position: relative;
				height: auto;
				width: auto;
				height: 65px;
				z-index: -1;
				text-align: center;
				overflow: hidden;
				&::before {
					position: absolute;
					content: '';
					height: 100%;
					width: 100%;
					top: 0;
					left: -100%;
					background: transparent;
					z-index: 1;
					animation: animatedbefore 3s linear infinite;
					transition: 1s linear;
					transition-delay: 1s;
				}
				ul {
					margin: 0 0.5%;
					padding: 0;
					// width: auto;
					text-align: center;
					animation: animatedList 3s alternate infinite;
					li {
						list-style-type: none;
						height: 65px;
						// width: auto;
					}
				}
			}
		}
	}
	.introAnimationLink {
		pointer-events: none;
		@include heightWidth(fit-content, 100%);
		@include topLeftAbsolute(60%, 0%);
		@include flexCenter(row, center, center);
		font-size: 30px;
		.continue {
			pointer-events: all;
			@include heightWidth(fit-content, fit-content);
			color: rgba(0, 0, 0, 0.5);
			background: rgba(253, 161, 100, 0.75);
			border-color: rgba(253, 161, 100, 0.5);
			border-radius: 25px;
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
			padding: 0.25em 1em;
			transform: scale(1);
			transition: all 0.5s ease-in-out;
			&:hover {
				color: rgba(0, 0, 0, 1);
				border-color: rgba(253, 161, 100, 0.75);
				background: rgba(253, 161, 100, 1);
				box-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
				transform: scale(1.1);
			}
			&:focus {
				outline: none;
			}
		}
	}

	@include media('<=phone') {
		.introAnimationImgContainer {
			.introAnimationImg {
				@include heightWidth(200px, 200px);
			}
		}
		.introAnimationMainText {
			font-size: 20px;
			line-height: 20px;
			&:hover {
			}
			.introAnimationListLink {
				.endTextContainer {
					&::before {
					}
				}
				ul {
					width: auto;
					li {
						width: auto;
					}
				}
			}
		}
		.introAnimationLink {
			transform: scale(0.75);
			.continue {
				&:hover {
				}
				&:focus {
				}
			}
		}
	}

	@include media('>phone', '<=425px') {
		.introAnimationImgContainer {
			.introAnimationImg {
				@include heightWidth(200px, 200px);
			}
		}
		.introAnimationMainText {
			font-size: 20px;
			line-height: 20px;
			&:hover {
			}
			.introAnimationListLink {
				.endTextContainer {
					&::before {
					}
				}
				ul {
					width: auto;
					li {
						width: auto;
					}
				}
			}
		}
		.introAnimationLink {
			transform: scale(0.75);
			.continue {
				&:hover {
				}
				&:focus {
				}
			}
		}
	}

	@include media('>425px', '<=tablet') {
		.introAnimationImgContainer {
			.introAnimationImg {
				@include heightWidth(200px, 200px);
			}
		}
		.introAnimationMainText {
			font-size: 28px;
			line-height: 28px;
			&:hover {
			}
			.introAnimationListLink {
				.endTextContainer {
					&::before {
					}
				}
				ul {
					li {
					}
				}
			}
		}
		.introAnimationLink {
			.continue {
				&:hover {
				}
				&:focus {
				}
			}
		}
	}

	@include media('>tablet', '<desktop') {
		.introAnimationImgContainer {
			.introAnimationImg {
			}
		}
		.introAnimationMainText {
			font-size: 44px;
			line-height: 44px;
			&:hover {
			}
			.introAnimationListLink {
				.endTextContainer {
					&::before {
					}
				}
				ul {
					width: auto;
					li {
					}
				}
			}
		}
		.introAnimationLink {
			.continue {
				&:hover {
				}
				&:focus {
				}
			}
		}
	}

	@include media('>=desktop') {
		.introAnimationImgContainer {
			.introAnimationImg {
			}
		}
		.introAnimationMainText {
			&:hover {
			}
			.introAnimationListLink {
				.endTextContainer {
					&::before {
					}
				}
				ul {
					width: auto;
					li {
					}
				}
			}
		}
		.introAnimationLink {
			.continue {
				&:hover {
				}
				&:focus {
				}
			}
		}
	}

	@include media('>=LGdesktop', 'retina2x') {
		.introAnimationImgContainer {
			.introAnimationImg {
			}
		}
		.introAnimationMainText {
			&:hover {
			}
			.introAnimationListLink {
				.endTextContainer {
					&::before {
					}
				}
				ul {
					width: auto;
					li {
					}
				}
			}
		}
		.introAnimationLink {
			.continue {
				&:hover {
				}
				&:focus {
				}
			}
		}
	}
}

@keyframes animatedbefore {
	0% {
		left: -100%;
		background: transparent;
	}
	50% {
		background: var(--bg);
	}
	100% {
		background: var(--bg);
		left: 100%;
	}
}

@keyframes animatedList {
	0% {
		transform: translateY(10px);
	}
	40% {
		transform: translateY(10px);
	}
	65% {
		transform: translateY(-55px);
	}
	75%,
	100% {
		transform: translateY(-55px);
	}
}

@keyframes animatedRotateGear {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
