@mixin noSelection() {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@mixin heightWidth($hei, $wei) {
	height: $hei;
	width: $wei;
}

@mixin marginPadding($marginSize, $paddingSize) {
	margin: $marginSize;
	padding: $paddingSize;
}

@mixin topLeftAbsolute($top, $left) {
	position: absolute;
	top: $top;
	left: $left;
}

@mixin flexCenter($direction, $justified, $alignment) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justified;
	align-items: $alignment;
}

// @mixin gradientAnimationMix($sizeA, $sizeB, $posA, $posB) {
// 	@keyframes headingAnimation {
// 		0% {
// 			background-size: $sizeA;
// 			background-position: $posA;
// 		}
// 		100% {
// 			background-size: $sizeB;
// 			background-position: $posB;
// 		}
// 	}
// }

@mixin contentMix($content) {
	font-family: 'Cabin', sans-serif;
	margin: 0.5em;
	content: $content;
}

// Arcade Btn Css
$bgArcadeBtn: #333;
$push-color: hsla(10, 90%, 40%, 1);
$push-size: 240px;
