@mixin noSelection() {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin heightWidth($hei, $wei) {
	height: $hei;
	width: $wei;
}

@mixin marginPadding($marginSize, $paddingSize) {
	margin: $marginSize;
	padding: $paddingSize;
}

@mixin topLeftAbsolute($top, $left) {
	position: absolute;
	top: $top;
	left: $left;
}

@mixin topRightAbsolute($top, $right) {
	position: absolute;
	top: $top;
	right: $right;
}

@mixin bottomLeftAbsolute($bottom, $left) {
	position: absolute;
	bottom: $bottom;
	left: $left;
}

@mixin bottomRightAbsolute($bottom, $right) {
	position: absolute;
	bottom: $bottom;
	right: $right;
}

@mixin flexCenter($direction, $justified, $alignment) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justified;
	align-items: $alignment;
}

@mixin contentMix($content) {
	font-family: 'Cabin', sans-serif;
	margin: 0.5em;
	content: $content;
}

@keyframes headingAnimation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

// Arcade Btn Css
$bgArcadeBtn: #333;
$push-color: rgb(194, 41, 10);
$push-colorB: rgb(10, 53, 194);
$push-size: 240px;

// Goo Mixin
$shadowGreen: rgba(30, 241, 189, 0.5);
$shadowBlue: rgba(64, 188, 249, 0.5);
$shadowRed: rgba(249, 83, 64, 0.5);
$shadowBrown: rgba(255, 153, 0, 0.5);
$shadowPurple: rgba(64, 85, 249, 0.5);
