@-webkit-keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/**
*
* Testing
*
**/
.loginFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.loginFormContainer .logoutHeadText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 24px;
  font-family: 'Oleo Script', Arial, cursive;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.loginFormContainer .logoutHeadText:hover {
  color: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.loginFormContainer .logoutHeadText .logoutText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%) scale(1);
          transform: translate(-50%, -60%) scale(1);
  font-size: 40px;
  color: rgba(255, 98, 98, 0.5);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.loginFormContainer .logoutHeadText .logoutText:hover {
  color: #ff6262;
  -webkit-transform: translate(-50%, -60%) scale(1.1);
          transform: translate(-50%, -60%) scale(1.1);
}

.loginFormContainer .formLoginContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 10em;
}

.loginFormContainer .formLoginContainer .ant-avatar {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 5%);
          transform: translate(-50%, 5%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 11vw;
}

.loginFormContainer .formLoginContainer .ant-avatar img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.loginFormContainer .formLoginContainer .alignFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.loginFormContainer .formLoginContainer .alignFlex .ant-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: 0%;
}

.loginFormContainer .formLoginContainer .alignFlex .ant-row .ant-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 1em;
}

.loginFormContainer .formLoginContainer .alignFlex .ant-row .ant-col .ant-form-item-control-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.loginFormContainer .formLoginContainer .alignFlex .ant-row .ant-col .ant-form-item-control-input .ant-form-item-control-input-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  width: 100%;
}

.loginFormContainer .formLoginContainer .alignFlex .ant-row .ant-col .ant-form-item-control-input .ant-form-item-control-input-content .ant-input {
  height: 100%;
  width: 90%;
  padding: 1em 0.5em;
}

.loginFormContainer .formLoginContainer .alignFlex .dirFlexContainer {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: 'Patua One', cursive;
  margin-left: 0.5em;
  font-size: 28px;
  line-height: 24px;
}

.loginFormContainer .formLoginContainer .alignFlex .dirFlexContainer .anticon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.loginFormContainer .formLoginContainer .alignFlex .dirFlexContainer .anticon svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.loginFormContainer .formLoginContainer .flexDirContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.loginFormContainer .formLoginContainer .flexDirContainer .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.loginFormContainer .formLoginContainer .flexDirContainer .signup #signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
  width: 100%;
  background-color: rgba(255, 70, 24, 0.75);
  border-color: rgba(212, 60, 22, 0.75);
  color: #fff;
  border: 1px solid transparent;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  font-size: 14px;
  padding: 1em 7px;
  outline: 0;
  display: inline-block;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 1.5715;
  white-space: nowrap;
  margin-right: 1em;
  font-weight: 400;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.loginFormContainer .formLoginContainer .flexDirContainer .signup #signup:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #ff4618;
  border-color: #d43c16;
}

.loginFormContainer .formLoginContainer .flexDirContainer .login-form-button {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: rgba(1, 221, 250, 0.85);
  border-color: rgba(47, 197, 216, 0.85);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.loginFormContainer .formLoginContainer .flexDirContainer .login-form-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #01ddfa;
  border-color: #2fc5d8;
}

.loginFormContainer .formLoginContainer .flexDirContainer .ant-checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.loginFormContainer .formLoginContainer .flexDirContainer .ant-checkbox-wrapper .ant-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 3em;
}

.loginFormContainer .formLoginContainer .flexDirContainer .ant-checkbox-wrapper .ant-checkbox #checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.loginFormContainer .formLoginContainer .flexDirContainer .ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginFormContainer .formLoginContainer .flexDirContainer .ant-checkbox-wrapper .ant-checkbox + span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.loginFormContainer .formLoginContainer .flexDirContainer .login-form-forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.loginFormContainer .formLoginContainer .ant-btn {
  width: 100%;
}

.loginFormContainer .formLoginContainer .ant-btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 360px) {
  .loginFormContainer .logoutHeadText {
    font-size: 1rem;
  }
  .loginFormContainer .logoutHeadText .logoutText {
    font-size: 1rem;
  }
  .loginFormContainer .formLoginContainer .ant-avatar {
    width: 70px;
    height: 70px;
  }
  .loginFormContainer .formLoginContainer .alignFlex {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .loginFormContainer .formLoginContainer .flexDirContainer {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .loginFormContainer .formLoginContainer .flexDirContainer .signup #signup {
    padding: 0;
  }
  .loginFormContainer .formLoginContainer .flexDirContainer .login-form-button {
    padding: 0%;
  }
  .loginFormContainer .formLoginContainer .flexDirContainer .ant-checkbox-wrapper .ant-checkbox {
    margin-left: 1em;
    margin-bottom: 0.25em;
  }
  .loginFormContainer .formLoginContainer .flexDirContainer .ant-checkbox-wrapper .ant-checkbox + span {
    font-size: 0.5rem;
    white-space: nowrap;
  }
  .loginFormContainer .formLoginContainer .flexDirContainer .login-form-forgot {
    font-size: 0.5rem;
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  .loginFormContainer .logoutHeadText {
    font-size: 1rem;
  }
  .loginFormContainer .logoutHeadText .logoutText {
    font-size: 1.5rem;
  }
  .loginFormContainer .formLoginContainer .ant-avatar {
    width: 60px;
    height: 60px;
  }
  .loginFormContainer .formLoginContainer .alignFlex {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .loginFormContainer .formLoginContainer .flexDirContainer {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .loginFormContainer .formLoginContainer .flexDirContainer .ant-checkbox-wrapper .ant-checkbox {
    margin-left: 1em;
    margin-bottom: 0.25em;
  }
  .loginFormContainer .formLoginContainer .flexDirContainer .ant-checkbox-wrapper .ant-checkbox + span {
    font-size: 0.6rem;
    white-space: nowrap;
  }
  .loginFormContainer .formLoginContainer .flexDirContainer .login-form-forgot {
    font-size: 0.6rem;
    white-space: nowrap;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .loginFormContainer .logoutHeadText {
    font-size: 1.25rem;
  }
  .loginFormContainer .logoutHeadText .logoutText {
    font-size: 1.5rem;
  }
  .loginFormContainer .formLoginContainer .ant-avatar {
    width: 80px;
    height: 80px;
  }
  .loginFormContainer .formLoginContainer .flexDirContainer .signup #signup {
    padding: 0%;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .loginFormContainer .logoutHeadText {
    font-size: 1.9rem;
  }
  .loginFormContainer .logoutHeadText .logoutText {
    font-size: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 1365px) {
  .loginFormContainer .logoutHeadText {
    font-size: 2.25rem;
  }
  .loginFormContainer .logoutHeadText .logoutText {
    font-size: 2.5rem;
  }
  .loginFormContainer .formLoginContainer .ant-avatar {
    width: 100px;
    height: 100px;
  }
  .loginFormContainer .formLoginContainer .flexDirContainer .signup #signup {
    padding: 0%;
  }
}

@media (min-width: 1201px) and (max-width: 1365px) {
  .loginFormContainer .logoutHeadText {
    font-size: 3rem;
  }
  .loginFormContainer .logoutHeadText .logoutText {
    font-size: 3.5rem;
  }
  .loginFormContainer .formLoginContainer .flexDirContainer .signup #signup {
    padding: 0%;
  }
}

@media (min-width: 1366px) {
  .loginFormContainer .logoutHeadText {
    font-size: 4rem;
    line-height: 1em;
    padding-bottom: 1.5em;
  }
  .loginFormContainer .logoutHeadText .logoutText {
    font-size: 4rem;
    line-height: 1em;
  }
  .loginFormContainer .formLoginContainer .ant-avatar {
    width: 100px;
    height: 100px;
  }
  .loginFormContainer .formLoginContainer .flexDirContainer .signup #signup {
    padding: 0%;
  }
}

@media (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1920px) and (min-resolution: 192dpi) {
  .loginFormContainer .formLoginContainer .ant-avatar {
    width: 120px;
    height: 120px;
  }
  .loginFormContainer .formLoginContainer .flexDirContainer .ant-checkbox-wrapper .ant-checkbox {
    margin-left: 10em;
    margin-bottom: 0.25em;
  }
}
/*# sourceMappingURL=LoginForm.css.map */