@import '../../../mixins/mixins.scss';
@import '../../../breakpoints/breakpoints.scss';

.loginFormContainer {
	@include flexCenter(row, center, center);
	@include heightWidth(100%, 100%);
	@include topLeftAbsolute(0%, 0%);
	.logoutHeadText {
		@include flexCenter(row, center, center);
		@include heightWidth(100%, 100%);
		position: relative;
		font-size: 24px;
		font-family: 'Oleo Script', Arial, cursive;
		color: rgba(255, 255, 255, 0.5);
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		transform: scale(1);
		transition: all 0.5s ease-in-out;
		&:hover {
			color: rgba(255, 255, 255, 1);
			transform: scale(1.1);
		}
		.logoutText {
			@include flexCenter(row, center, center);
			@include heightWidth(fit-content, fit-content);
			@include topLeftAbsolute(60%, 50%);
			transform: translate(-50%, -60%) scale(1);
			font-size: 40px;
			color: rgba(255, 98, 98, 0.5);
			text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
			transition: all 0.5s ease-in-out;
			&:hover {
				color: rgba(255, 98, 98, 1);
				transform: translate(-50%, -60%) scale(1.1);
			}
		}
	}
	.formLoginContainer {
		@include flexCenter(column, center, center);
		@include heightWidth(100%, 100%);
		margin-top: 10em;
		.ant-avatar {
			@include topLeftAbsolute(5%, 50%);
			transform: translate(-50%, 5%);
			@include flexCenter(column, center, center);
			@include heightWidth(10vh, 11vw);
			img {
				@include flexCenter(column, center, center);
				@include heightWidth(100%, 100%);
				border-radius: 50%;
			}
		}
		.alignFlex {
			@include flexCenter(column, center, center);
			@include heightWidth(100%, 100%);
			.ant-row {
				@include flexCenter(row, center, center);
				@include heightWidth(100%, 100%);
				margin: 0%;
				.ant-col {
					@include flexCenter(column, center, center);
					@include heightWidth(100%, 100%);
					margin-bottom: 1em;
					.ant-form-item-control-input {
						@include flexCenter(column, center, center);
						@include heightWidth(100%, 100%);
						.ant-form-item-control-input-content {
							@include flexCenter(column, center, center);
							@include heightWidth(5vh, 100%);
							.ant-input {
								@include heightWidth(100%, 90%);
								padding: 1em 0.5em;
							}
						}
					}
				}
			}
			.dirFlexContainer {
				@include heightWidth(100%, 100%);
				@include flexCenter(row, flex-start, flex-end);
				font-family: 'Patua One', cursive;
				margin-left: 0.5em;
				font-size: 28px;
				line-height: 24px;
				.anticon {
					@include flexCenter(column, center, center);
					@include heightWidth(100%, 100%);
					svg {
						@include flexCenter(column, center, center);
						@include heightWidth(100%, 100%);
						path {
						}
					}
				}
			}
		}
		.flexDirContainer {
			@include flexCenter(row, center, center);
			@include heightWidth(100%, 100%);
			.signup {
				@include flexCenter(row, center, center);
				@include heightWidth(100%, 100%);
				#signup {
					@include flexCenter(column, center, center);
					@include heightWidth(24px, 100%);
					background-color: rgba(255, 70, 24, 0.75);
					border-color: rgba(212, 60, 22, 0.75);
					color: #fff;
					border: 1px solid transparent;
					text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
					box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
					border-radius: 2px;
					font-size: 14px;
					padding: 1em 7px;
					outline: 0;
					display: inline-block;
					touch-action: manipulation;
					user-select: none;
					line-height: 1.5715;
					white-space: nowrap;
					margin-right: 1em;
					font-weight: 400;
					cursor: pointer;
					transform: scale(1);
					transition: all 0.5s ease-in-out;
					&:hover {
						transform: scale(1.1);
						background-color: rgba(255, 70, 24, 1);
						border-color: rgba(212, 60, 22, 1);
					}
				}
			}
			.login-form-button {
				transform: scale(1);
				background-color: rgba(1, 221, 250, 0.85);
				border-color: rgba(47, 197, 216, 0.85);
				transition: all 0.5s ease-in-out;
				&:hover {
					transform: scale(1.1);
					background-color: rgba(1, 221, 250, 1);
					border-color: rgba(47, 197, 216, 1);
				}
			}
			.ant-checkbox-wrapper {
				@include flexCenter(row, center, center);
				@include heightWidth(100%, 100%);
				.ant-checkbox {
					@include flexCenter(row, center, center);
					@include heightWidth(fit-content, fit-content);
					margin-left: 3em;
					#checkbox {
						@include flexCenter(row, center, center);
						@include heightWidth(100%, 100%);
					}
					.ant-checkbox-inner {
						@include flexCenter(row, center, center);
					}
					+ span {
						@include flexCenter(row, center, center);
						@include heightWidth(100%, 100%);
						font-size: 16px;
					}
				}
			}
			.login-form-forgot {
				@include flexCenter(row, center, center);
				@include heightWidth(100%, 100%);
				font-size: 16px;
			}
		}
		.ant-btn {
			width: 100%;
			span {
				@include flexCenter(row, center, center);
				@include heightWidth(100%, 100%);
			}
		}
	}
}

@include media('<=phone') {
	.loginFormContainer {
		.logoutHeadText {
			font-size: 1rem;
			&:hover {
			}
			.logoutText {
				font-size: 1rem;
				&:hover {
				}
			}
		}
		.formLoginContainer {
			.ant-avatar {
				width: 70px;
				height: 70px;
				img {
				}
			}
			.alignFlex {
				transform: translateY(-20px);
				.ant-row {
					.ant-col {
						.ant-form-item-control-input {
							.ant-form-item-control-input-content {
								.ant-input {
								}
							}
						}
					}
				}
				.dirFlexContainer {
					.anticon {
						svg {
							path {
							}
						}
					}
				}
			}
			.flexDirContainer {
				transform: translateY(-20px);
				.signup {
					#signup {
						padding: 0;
						&:hover {
						}
					}
				}
				.login-form-button {
					padding: 0%;
					&:hover {
					}
				}
				.ant-checkbox-wrapper {
					.ant-checkbox {
						margin-left: 1em;
						margin-bottom: 0.25em;
						#checkbox {
						}
						.ant-checkbox-inner {
						}
						+ span {
							font-size: 0.5rem;
							white-space: nowrap;
						}
					}
				}
				.login-form-forgot {
					font-size: 0.5rem;
				}
			}
		}
	}
}

@include media('>phone', '<=425px') {
	.loginFormContainer {
		.logoutHeadText {
			font-size: 1rem;
			&:hover {
			}
			.logoutText {
				font-size: 1.5rem;
				&:hover {
				}
			}
		}
		.formLoginContainer {
			.ant-avatar {
				width: 60px;
				height: 60px;
				img {
				}
			}
			.alignFlex {
				transform: translateY(-20px);
				.ant-row {
					.ant-col {
						.ant-form-item-control-input {
							.ant-form-item-control-input-content {
								.ant-input {
								}
							}
						}
					}
				}
				.dirFlexContainer {
					.anticon {
						svg {
							path {
							}
						}
					}
				}
			}
			.flexDirContainer {
				transform: translateY(-20px);
				.signup {
					#signup {
						&:hover {
						}
					}
				}
				.login-form-button {
					&:hover {
					}
				}
				.ant-checkbox-wrapper {
					.ant-checkbox {
						margin-left: 1em;
						margin-bottom: 0.25em;
						#checkbox {
						}
						.ant-checkbox-inner {
						}
						+ span {
							font-size: 0.6rem;
							white-space: nowrap;
						}
					}
				}
				.login-form-forgot {
					font-size: 0.6rem;
					white-space: nowrap;
				}
			}
			.ant-btn {
				span {
				}
			}
		}
	}
}

@include media('>425px', '<=tablet') {
	.loginFormContainer {
		.logoutHeadText {
			font-size: 1.25rem;
			&:hover {
			}
			.logoutText {
				font-size: 1.5rem;
				&:hover {
				}
			}
		}
		.formLoginContainer {
			.ant-avatar {
				width: 80px;
				height: 80px;
				img {
				}
			}
			.alignFlex {
				.ant-row {
					.ant-col {
						.ant-form-item-control-input {
							.ant-form-item-control-input-content {
								.ant-input {
								}
							}
						}
					}
				}
				.dirFlexContainer {
					.anticon {
						svg {
							path {
							}
						}
					}
				}
			}
			.flexDirContainer {
				.signup {
					#signup {
						padding: 0%;
						&:hover {
						}
					}
				}
				.login-form-button {
					&:hover {
					}
				}
				.ant-checkbox-wrapper {
					.ant-checkbox {
						#checkbox {
						}
						.ant-checkbox-inner {
						}
						+ span {
						}
					}
				}
				.login-form-forgot {
				}
			}
			.ant-btn {
				span {
				}
			}
		}
	}
}
@include media('>600px', '<=tablet') {
	.loginFormContainer {
		.logoutHeadText {
			font-size: 1.9rem;
			&:hover {
			}
			.logoutText {
				font-size: 2rem;
				&:hover {
				}
			}
		}
		.formLoginContainer {
			.ant-avatar {
				img {
				}
			}
			.alignFlex {
				.ant-row {
					.ant-col {
						.ant-form-item-control-input {
							.ant-form-item-control-input-content {
								.ant-input {
								}
							}
						}
					}
				}
				.dirFlexContainer {
					.anticon {
						svg {
							path {
							}
						}
					}
				}
			}
			.flexDirContainer {
				.signup {
					#signup {
						&:hover {
						}
					}
				}
				.login-form-button {
					&:hover {
					}
				}
				.ant-checkbox-wrapper {
					.ant-checkbox {
						#checkbox {
						}
						.ant-checkbox-inner {
						}
						+ span {
						}
					}
				}
				.login-form-forgot {
				}
			}
			.ant-btn {
				span {
				}
			}
		}
	}
}

@include media('>tablet', '<desktop') {
	.loginFormContainer {
		.logoutHeadText {
			font-size: 2.25rem;
			&:hover {
			}
			.logoutText {
				font-size: 2.5rem;
				&:hover {
				}
			}
		}
		.formLoginContainer {
			.ant-avatar {
				width: 100px;
				height: 100px;
				img {
				}
			}
			.alignFlex {
				.ant-row {
					.ant-col {
						.ant-form-item-control-input {
							.ant-form-item-control-input-content {
								.ant-input {
								}
							}
						}
					}
				}
				.dirFlexContainer {
					.anticon {
						svg {
							path {
							}
						}
					}
				}
			}
			.flexDirContainer {
				.signup {
					#signup {
						padding: 0%;
						&:hover {
						}
					}
				}
				.login-form-button {
					&:hover {
					}
				}
				.ant-checkbox-wrapper {
					.ant-checkbox {
						#checkbox {
						}
						.ant-checkbox-inner {
						}
						+ span {
						}
					}
				}
				.login-form-forgot {
				}
			}
			.ant-btn {
				span {
				}
			}
		}
	}
}

@include media('>1200px', '<desktop') {
	.loginFormContainer {
		.logoutHeadText {
			font-size: 3rem;
			&:hover {
			}
			.logoutText {
				font-size: 3.5rem;
				&:hover {
				}
			}
		}
		.formLoginContainer {
			.ant-avatar {
				img {
				}
			}
			.alignFlex {
				.ant-row {
					.ant-col {
						.ant-form-item-control-input {
							.ant-form-item-control-input-content {
								.ant-input {
								}
							}
						}
					}
				}
				.dirFlexContainer {
					.anticon {
						svg {
							path {
							}
						}
					}
				}
			}
			.flexDirContainer {
				.signup {
					#signup {
						padding: 0%;
						&:hover {
						}
					}
				}
				.login-form-button {
					&:hover {
					}
				}
				.ant-checkbox-wrapper {
					.ant-checkbox {
						#checkbox {
						}
						.ant-checkbox-inner {
						}
						+ span {
						}
					}
				}
				.login-form-forgot {
				}
			}
			.ant-btn {
				span {
				}
			}
		}
	}
}

@include media('>=desktop') {
	.loginFormContainer {
		.logoutHeadText {
			font-size: 4rem;
			line-height: 1em;
			padding-bottom: 1.5em;
			&:hover {
			}
			.logoutText {
				font-size: 4rem;
				line-height: 1em;
				&:hover {
				}
			}
		}
		.formLoginContainer {
			.ant-avatar {
				width: 100px;
				height: 100px;
				img {
				}
			}
			.alignFlex {
				.ant-row {
					.ant-col {
						.ant-form-item-control-input {
							.ant-form-item-control-input-content {
								.ant-input {
								}
							}
						}
					}
				}
				.dirFlexContainer {
					.anticon {
						svg {
							path {
							}
						}
					}
				}
			}
			.flexDirContainer {
				.signup {
					#signup {
						padding: 0%;
						&:hover {
						}
					}
				}
				.login-form-button {
					&:hover {
					}
				}
				.ant-checkbox-wrapper {
					.ant-checkbox {
						#checkbox {
						}
						.ant-checkbox-inner {
						}
						+ span {
						}
					}
				}
				.login-form-forgot {
				}
			}
			.ant-btn {
				span {
				}
			}
		}
	}
}

@include media('>=LGdesktop', 'retina2x') {
	.loginFormContainer {
		.logoutHeadText {
			&:hover {
			}
			.logoutText {
				&:hover {
				}
			}
		}
		.formLoginContainer {
			.ant-avatar {
				width: 120px;
				height: 120px;
				img {
				}
			}
			.alignFlex {
				.ant-row {
					.ant-col {
						.ant-form-item-control-input {
							.ant-form-item-control-input-content {
								.ant-input {
								}
							}
						}
					}
				}
				.dirFlexContainer {
					.anticon {
						svg {
							path {
							}
						}
					}
				}
			}
			.flexDirContainer {
				.signup {
					#signup {
						&:hover {
						}
					}
				}
				.login-form-button {
					&:hover {
					}
				}
				.ant-checkbox-wrapper {
					.ant-checkbox {
						margin-left: 10em;
						margin-bottom: 0.25em;
						#checkbox {
						}
						.ant-checkbox-inner {
						}
						+ span {
						}
					}
				}
				.login-form-forgot {
				}
			}
			.ant-btn {
				span {
				}
			}
		}
	}
}
