@-webkit-keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.scrollerContainer {
  height: 105%;
  width: 105%;
}

.scrollerContainer .scrolltop-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.scrollerContainer .scrolltop-main .scrolltop-c {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: peachpuff;
  overflow: auto;
  opacity: 0.6;
}

.scrollerContainer .scrolltop-main .scrolltop-c .colors:nth-of-type(1)::after {
  content: 'hello';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 35%;
  margin: 0px 3rem;
  font-size: 60px;
  line-height: 60px;
  color: var(--mainText);
  font-family: 'Permanent Marker', cursive;
}

.scrollerContainer .scrolltop-main .scrolltop-c .colors:nth-of-type(2)::after {
  content: 'How are you';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 35%;
  margin: 0px 3rem;
  font-size: 60px;
  line-height: 60px;
  color: var(--mainText);
  font-family: 'Permanent Marker', cursive;
}

.scrollerContainer .scrolltop-main .scrolltop-c .colors:nth-of-type(3)::after {
  content: 'I hope you are well';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 35%;
  margin: 0px 3rem;
  font-size: 60px;
  line-height: 60px;
  color: var(--mainText);
  font-family: 'Permanent Marker', cursive;
}

.scrollerContainer .scrolltop-main .scrolltop-c .colors:nth-of-type(4)::after {
  content: 'Check out our Github\2019s';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 35%;
  margin: 0px 3rem;
  font-size: 60px;
  line-height: 60px;
  color: var(--mainText);
  font-family: 'Permanent Marker', cursive;
}

.scrollerContainer .scrolltop-main .scrolltop-c .colors:nth-of-type(5)::after {
  content: 'Portfolio projects are linked in Git repo README';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 35%;
  margin: 0px 3rem;
  font-size: 60px;
  line-height: 60px;
  color: var(--mainText);
  font-family: 'Permanent Marker', cursive;
}

.scrollerContainer .scrolltop-main .scrolltop-c .colors:nth-of-type(6)::after {
  content: 'Check out our Linkedin\2019s!';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 35%;
  margin: 0px 3rem;
  font-size: 60px;
  line-height: 60px;
  color: var(--mainText);
  font-family: 'Permanent Marker', cursive;
}

.scrollerContainer .scrolltop-main .scrolltop-c .colors:nth-of-type(7)::after {
  content: 'Our Linkedin\2019s are at the bottom left corner of the footer';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 35%;
  margin: 0px 3rem;
  font-size: 60px;
  line-height: 60px;
  color: var(--mainText);
  font-family: 'Permanent Marker', cursive;
}

.scrollerContainer .scrolltop-main .scrolltop-c .colors:nth-of-type(8)::after {
  content: 'Thank you have a great day!';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 35%;
  margin: 0px 3rem;
  font-size: 60px;
  line-height: 60px;
  color: var(--mainText);
  font-family: 'Permanent Marker', cursive;
}

.scrollerContainer .scrolltop-b {
  position: absolute;
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: calc(50% + 10px);
  left: calc(50% - 110px);
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.55);
  background: rgba(250, 250, 230, 0.75);
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.scrollerContainer .scrolltop-b::after {
  content: 'Random Scroll';
  font-size: 1.2em;
  font-weight: 100;
  color: black;
}

.scrollerContainer .scrolltop-b:hover {
  background: rgba(255, 221, 159, 0.75);
  border-color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=BoxFour.css.map */