@import '../../../mixins/mixins.scss';
@import '../../../breakpoints/breakpoints.scss';

.sidebar {
	position: relative;
	text-align: center;
	@include flexCenter(column, center, center);
	@include heightWidth(55vh, 100vw);
	@include bottomRightAbsolute(9.5%, 1%);
	pointer-events: none;
	.chatbotContainer {
		@include flexCenter(row, flex-end, center);
		@include heightWidth(100%, 100%);
		z-index: 1001;
		pointer-events: none;
		&:hover {
			z-index: 1002;
		}
		.react-chatbot-kit-chat-container {
			pointer-events: auto;
			width: 50vw;
			.react-chatbot-kit-chat-inner-container {
				background: linear-gradient(
					0deg,
					rgba(255, 175, 123, 1) 0%,
					rgba(148, 233, 219, 1) 100%
				);
				@include heightWidth(100%, 100%);
				@include flexCenter(column, center, center);
				.react-chatbot-kit-chat-header {
					position: relative;
					@include flexCenter(row, center, center);
					@include heightWidth(10%, 100%);
					font-size: 22px;
					font-family: 'Gill Sans', 'Gill Sans MT',
						'Calibri', 'Trebuchet MS', sans-serif;
					background: #ffffff;
					margin: 0;
					padding: 1em 0em;
					&::before {
						content: '';
						@include flexCenter(row, flex-start, center);
						@include topLeftAbsolute(0%, 0%);
						@include heightWidth(100%, 100%);
						z-index: 3;
						background: url('../../../images/bot.png');
						background-position: left;
						background-size: 50px 50px;
						background-repeat: no-repeat;
						margin-left: 1em;
					}
					&::after {
						content: 'Hello! How can\aI help you friend!';
						font-family: 'Gill Sans', 'Gill Sans MT',
							'Calibri', 'Trebuchet MS', sans-serif;
						text-align: left;
						font-weight: 800;
						@include flexCenter(row, center, center);
						@include topLeftAbsolute(0%, 0%);
						@include heightWidth(100%, 100%);
						background: #ffffff;
						white-space: pre;
					}
				}
				.react-chatbot-kit-chat-message-container {
					@include flexCenter(column, center, center);
					@include heightWidth(100%, 100%);
					margin-bottom: 2em;
					box-sizing: border-box;
					overflow: scroll;
					.react-chatbot-kit-chat-bot-message-container {
						display: flex;
						flex-direction: row;
						@include heightWidth(fit-content, 100%);
						font-family: 'Gill Sans', 'Gill Sans MT',
							'Calibri', 'Trebuchet MS', sans-serif;
						font-weight: 800;
						.avatarIcon {
							@include heightWidth(5vh, 5vw);
							#robotImg {
							}
						}
						.react-chatbot-kit-chat-bot-message {
							margin-left: 0%;
							@include heightWidth(fit-content, 55%);
							span {
							}
							.react-chatbot-kit-chat-bot-message-arrow {
							}
						}
					}
					.react-chatbot-kit-user-chat-message-container {
						@include heightWidth(fit-content, 100%);
						.react-chatbot-kit-user-chat-message {
							@include heightWidth(fit-content, 55%);
							.react-chatbot-kit-user-chat-message-arrow {
							}
						}
						.userIcon {
							@include heightWidth(5vh, 5vw);
							#dogImg {
							}
						}
					}
				}
				.react-chatbot-kit-chat-input-container {
					// @include flexCenter(column, center, center);
					@include heightWidth(10%, 100%);
					.react-chatbot-kit-chat-input-form {
						.react-chatbot-kit-chat-input {
							outline: none;
							background-color: #ffffff;
						}
						.react-chatbot-kit-chat-btn-send {
							.react-chatbot-kit-chat-btn-send-icon {
							}
						}
					}
				}
			}
		}
	}
	@include media('<=phone') {
		// position chatbot container
		@include bottomRightAbsolute(22%, 1%);
		.chatbotContainer {
			@include flexCenter(row, flex-end, center);
			@include heightWidth(100%, 100%);
			z-index: 1001;
			pointer-events: none;
			&:hover {
				z-index: 1002;
			}
			.react-chatbot-kit-chat-container {
				pointer-events: auto;
				// adjust chatbot height & width
				@include heightWidth(75vh, 98vw);
				.react-chatbot-kit-chat-inner-container {
					.react-chatbot-kit-chat-header {
						font-size: 14px;
						padding: 1em 0em;
						&::before {
							@include flexCenter(row, flex-start, center);
							margin-left: 0.5em;
							background-size: 25px 25px;
						}
						&::after {
							content: '   Hello! How can I help you friend!';
						}
					}
					.react-chatbot-kit-chat-message-container {
						.react-chatbot-kit-chat-bot-message-container {
							.avatarIcon {
								@include heightWidth(fit-content, 12vw);
								#robotImg {
									@include heightWidth(
										fit-content,
										fit-content
									);
								}
							}
							.react-chatbot-kit-chat-bot-message {
								span {
								}
								.react-chatbot-kit-chat-bot-message-arrow {
								}
							}
						}
						.react-chatbot-kit-user-chat-message-container {
							.react-chatbot-kit-user-chat-message {
								.react-chatbot-kit-user-chat-message-arrow {
								}
							}
							.userIcon {
								@include heightWidth(fit-content, 12vw);
								#dogImg {
									@include heightWidth(
										fit-content,
										fit-content
									);
								}
							}
						}
					}
					.react-chatbot-kit-chat-input-container {
						.react-chatbot-kit-chat-input-form {
							.react-chatbot-kit-chat-input {
							}
							.react-chatbot-kit-chat-btn-send {
								.react-chatbot-kit-chat-btn-send-icon {
								}
							}
						}
					}
				}
			}
		}
	}

	@include media('>phone', '<=425px') {
		// position chatbot container
		@include bottomRightAbsolute(22%, 1%);
		.chatbotContainer {
			@include flexCenter(row, flex-end, center);
			@include heightWidth(100%, 100%);
			z-index: 1001;
			pointer-events: none;
			&:hover {
				z-index: 1002;
			}
			.react-chatbot-kit-chat-container {
				pointer-events: auto;
				// adjust chatbot height & width
				@include heightWidth(75vh, 98vw);
				.react-chatbot-kit-chat-inner-container {
					.react-chatbot-kit-chat-header {
						font-size: 14px;
						padding: 1em 0em;
						&::before {
							@include flexCenter(row, flex-start, center);
							margin-left: 0.5em;
							background-size: 25px 25px;
						}
						&::after {
							content: '   Hello! How can I help you friend!';
						}
					}
					.react-chatbot-kit-chat-message-container {
						.react-chatbot-kit-chat-bot-message-container {
							.avatarIcon {
								@include heightWidth(fit-content, 12vw);
								#robotImg {
									@include heightWidth(
										fit-content,
										fit-content
									);
								}
							}
							.react-chatbot-kit-chat-bot-message {
								span {
								}
								.react-chatbot-kit-chat-bot-message-arrow {
								}
							}
						}
						.react-chatbot-kit-user-chat-message-container {
							.react-chatbot-kit-user-chat-message {
								.react-chatbot-kit-user-chat-message-arrow {
								}
							}
							.userIcon {
								@include heightWidth(fit-content, 12vw);
								#dogImg {
									@include heightWidth(
										fit-content,
										fit-content
									);
								}
							}
						}
					}
					.react-chatbot-kit-chat-input-container {
						.react-chatbot-kit-chat-input-form {
							.react-chatbot-kit-chat-input {
							}
							.react-chatbot-kit-chat-btn-send {
								.react-chatbot-kit-chat-btn-send-icon {
								}
							}
						}
					}
				}
			}
		}
	}

	@include media('>425px', '<=tablet') {
	}

	@include media('>tablet', '<desktop') {
	}

	@include media('>=desktop') {
	}

	@include media('>=LGdesktop', 'retina2x') {
	}
}
.openbtn {
	z-index: 1000;
	@include flexCenter(row, center, center);
	@include bottomRightAbsolute(5%, 1%);
	@include heightWidth(calc(50px - 2vw), calc(50px - 2vw));
	border-radius: 50%;
	box-shadow: 0 2px 2px #282c34;
	background-color: lightgray;
	&:focus {
		outline: none;
		z-index: 1002;
	}
	&:hover {
		z-index: 1002;
	}
	.chatImg {
		@include flexCenter(row, center, center);
		@include heightWidth(
			calc(50px - 2vw),
			calc(50px - 2vw)
		);
		max-width: 50%;
		max-height: 50%;
	}

	@include media('<=phone') {
		&:focus {
		}
		&:hover {
		}
		.chatImg {
		}
	}

	@include media('>phone', '<=425px') {
		&:focus {
		}
		&:hover {
		}
		.chatImg {
		}
	}

	@include media('>425px', '<=tablet') {
		@include heightWidth(
			calc(40px - 2vw),
			calc(40px - 2vw)
		);
		&:focus {
		}
		&:hover {
		}
		.chatImg {
		}
	}

	@include media('>600px', '<=tablet') {
		@include heightWidth(
			calc(55px - 2vw),
			calc(55px - 2vw)
		);
		&:focus {
		}
		&:hover {
		}
		.chatImg {
		}
	}

	@include media('>tablet', '<desktop') {
		@include heightWidth(
			calc(65px - 2vw),
			calc(65px - 2vw)
		);
		&:focus {
		}
		&:hover {
		}
		.chatImg {
		}
	}

	@include media('>=desktop') {
		@include heightWidth(
			calc(65px - 2vw),
			calc(65px - 2vw)
		);
		&:focus {
		}
		&:hover {
		}
		.chatImg {
		}
	}

	@include media('>=LGdesktop', 'retina2x') {
		@include heightWidth(
			calc(70px - 2vw),
			calc(70px - 2vw)
		);
		&:focus {
		}
		&:hover {
		}
		.chatImg {
		}
	}
}
