@-webkit-keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/**
*
* Testing
*
**/
.sidebar {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55vh;
  width: 100vw;
  position: absolute;
  bottom: 9.5%;
  right: 1%;
  pointer-events: none;
}

.sidebar .chatbotContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1001;
  pointer-events: none;
}

.sidebar .chatbotContainer:hover {
  z-index: 1002;
}

.sidebar .chatbotContainer .react-chatbot-kit-chat-container {
  pointer-events: auto;
  width: 50vw;
}

.sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container {
  background: -webkit-gradient(linear, left bottom, left top, from(#ffaf7b), to(#94e9db));
  background: linear-gradient(0deg, #ffaf7b 0%, #94e9db 100%);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10%;
  width: 100%;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 1em 0em;
}

.sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-header::before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 3;
  background: url("../../../images/bot.png");
  background-position: left;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  margin-left: 1em;
}

.sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-header::after {
  content: 'Hello! How can\aI help you friend!';
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  text-align: left;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background: #ffffff;
  white-space: pre;
}

.sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: scroll;
}

.sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-message-container .react-chatbot-kit-chat-bot-message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-weight: 800;
}

.sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-message-container .react-chatbot-kit-chat-bot-message-container .avatarIcon {
  height: 5vh;
  width: 5vw;
}

.sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-message-container .react-chatbot-kit-chat-bot-message-container .react-chatbot-kit-chat-bot-message {
  margin-left: 0%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 55%;
}

.sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-message-container .react-chatbot-kit-user-chat-message-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-message-container .react-chatbot-kit-user-chat-message-container .react-chatbot-kit-user-chat-message {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 55%;
}

.sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-message-container .react-chatbot-kit-user-chat-message-container .userIcon {
  height: 5vh;
  width: 5vw;
}

.sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-input-container {
  height: 10%;
  width: 100%;
}

.sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-input-container .react-chatbot-kit-chat-input-form .react-chatbot-kit-chat-input {
  outline: none;
  background-color: #ffffff;
}

@media (max-width: 360px) {
  .sidebar {
    position: absolute;
    bottom: 22%;
    right: 1%;
  }
  .sidebar .chatbotContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1001;
    pointer-events: none;
  }
  .sidebar .chatbotContainer:hover {
    z-index: 1002;
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container {
    pointer-events: auto;
    height: 75vh;
    width: 98vw;
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-header {
    font-size: 14px;
    padding: 1em 0em;
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-header::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0.5em;
    background-size: 25px 25px;
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-header::after {
    content: '   Hello! How can I help you friend!';
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-message-container .react-chatbot-kit-chat-bot-message-container .avatarIcon {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 12vw;
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-message-container .react-chatbot-kit-chat-bot-message-container .avatarIcon #robotImg {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-message-container .react-chatbot-kit-user-chat-message-container .userIcon {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 12vw;
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-message-container .react-chatbot-kit-user-chat-message-container .userIcon #dogImg {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  .sidebar {
    position: absolute;
    bottom: 22%;
    right: 1%;
  }
  .sidebar .chatbotContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1001;
    pointer-events: none;
  }
  .sidebar .chatbotContainer:hover {
    z-index: 1002;
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container {
    pointer-events: auto;
    height: 75vh;
    width: 98vw;
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-header {
    font-size: 14px;
    padding: 1em 0em;
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-header::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0.5em;
    background-size: 25px 25px;
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-header::after {
    content: '   Hello! How can I help you friend!';
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-message-container .react-chatbot-kit-chat-bot-message-container .avatarIcon {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 12vw;
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-message-container .react-chatbot-kit-chat-bot-message-container .avatarIcon #robotImg {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-message-container .react-chatbot-kit-user-chat-message-container .userIcon {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 12vw;
  }
  .sidebar .chatbotContainer .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container .react-chatbot-kit-chat-message-container .react-chatbot-kit-user-chat-message-container .userIcon #dogImg {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.openbtn {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 5%;
  right: 1%;
  height: calc(50px - 2vw);
  width: calc(50px - 2vw);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px #282c34;
          box-shadow: 0 2px 2px #282c34;
  background-color: lightgray;
}

.openbtn:focus {
  outline: none;
  z-index: 1002;
}

.openbtn:hover {
  z-index: 1002;
}

.openbtn .chatImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(50px - 2vw);
  width: calc(50px - 2vw);
  max-width: 50%;
  max-height: 50%;
}

@media (min-width: 426px) and (max-width: 768px) {
  .openbtn {
    height: calc(40px - 2vw);
    width: calc(40px - 2vw);
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .openbtn {
    height: calc(55px - 2vw);
    width: calc(55px - 2vw);
  }
}

@media (min-width: 769px) and (max-width: 1365px) {
  .openbtn {
    height: calc(65px - 2vw);
    width: calc(65px - 2vw);
  }
}

@media (min-width: 1366px) {
  .openbtn {
    height: calc(65px - 2vw);
    width: calc(65px - 2vw);
  }
}

@media (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1920px) and (min-resolution: 192dpi) {
  .openbtn {
    height: calc(70px - 2vw);
    width: calc(70px - 2vw);
  }
}
/*# sourceMappingURL=Chatbots.css.map */