@import '../../../../breakpoints/breakpoints.scss';
@import '../../../../mixins/mixins.scss';

.NavLink {
	.rightHomeTriangle {
		@include topRightAbsolute(41.75%, -3vw);
		transform: translateX(-41.75%, -3vw);
		height: 50px;
		width: 100px;
		border-radius: 100px 100px 0 0;
		transform: rotateZ(270deg);
		background: rgba(0, 0, 0, 0.5);
		z-index: 2000;
		&:hover {
			background: rgba(25, 255, 255, 0.5);
		}
	}
	.leftHomeTriangle {
		@include topLeftAbsolute(41.75%, -3vw);
		transform: translateX(-41.75%, -3vw);
		height: 50px;
		width: 100px;
		border-radius: 100px 100px 0 0;
		transform: rotateZ(90deg);
		background: rgba(0, 0, 0, 0.5);
		z-index: 2000;
		&:hover {
			background: rgba(25, 255, 255, 0.5);
		}
	}
	.bottomHomeTriangle {
		@include bottomLeftAbsolute(2%, 46.5%);
		transform: translateX(2%, -46.5%);
		height: 50px;
		width: 100px;
		border-radius: 100px 100px 0 0;
		transform: rotateZ(0deg);
		background: rgba(0, 0, 0, 0.5);
		z-index: 2000;
		&:hover {
			background: rgba(25, 255, 255, 0.5);
		}
	}
	.topHomeTriangle {
		@include topLeftAbsolute(4vh, 46.5%);
		transform: translateX(4vh, -46.5%);
		height: 50px;
		width: 100px;
		border-radius: 100px 100px 0 0;
		transform: rotateZ(180deg);
		background: rgba(0, 0, 0, 0.5);
		z-index: 2000;
		&:hover {
			background: rgba(25, 255, 255, 0.5);
		}
	}
}
