@import '../../../../breakpoints/breakpoints.scss';
@import '../../../../mixins/mixins.scss';

.HomeNavLink {
	@include topRightAbsolute(0%, 0%);
	// @include heightWidth(fit-content, fit-content);
	pointer-events: none;
	z-index: 2000;
	.HomeCircle {
		pointer-events: visible;
		@include topRightAbsolute(45%, -6%);
		transform: translateX(45%, -6%);
		z-index: 2000;
		height: 100px;
		width: 100px;
		@include heightWidth(100px, 100px);
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.5);
		transition: all 1s ease-in-out;
		&:hover {
			background: rgba(25, 255, 255, 0.5);
		}
	}
}
