@-webkit-keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.profileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.profileContainer .sidebar-toggle {
  position: absolute;
  top: 3%;
  left: 0%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 3vh;
  width: 100%;
  color: #a0a0a0;
  z-index: 100;
  font-size: 1.5em;
  cursor: pointer;
}

.profileContainer .sidebar-toggle svg {
  height: 100%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.profileContainer .sidebar-toggle svg path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.profileContainer .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, #7bff82 0%, #94e9df 100%);
  font-size: 15px;
  overflow: hidden;
  position: absolute;
  top: 0%;
  left: 0%;
}

.profileContainer .sidebar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.profileContainer .sidebar div .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 0%;
}

.profileContainer .sidebar div .middle .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.profileContainer .sidebar div .middle .contentContainer .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: 0%;
}

.profileContainer .sidebar div .middle .contentContainer .middle .ant-form-item-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.profileContainer .boxSevenText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 2em;
  line-height: 50px;
  font-size: 50px;
  font-family: 'Bungee Shade', cursive;
  color: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(3, 0, 30, 0.75)), color-stop(rgba(115, 3, 192, 0.75)), color-stop(rgba(236, 56, 188, 0.75)), to(rgba(253, 239, 249, 0.75)));
  background: linear-gradient(to top, rgba(3, 0, 30, 0.75), rgba(115, 3, 192, 0.75), rgba(236, 56, 188, 0.75), rgba(253, 239, 249, 0.75));
  background-size: cover;
  background-clip: text;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.profileContainer .boxSevenText:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#03001e), color-stop(#7303c0), color-stop(#ec38bc), to(#fdeff9));
  background: linear-gradient(to top, #03001e, #7303c0, #ec38bc, #fdeff9);
  background-size: cover;
  background-clip: text;
}
/*# sourceMappingURL=BoxSeven.css.map */