@import '../../../../../mixins/mixins.scss';

.profileContainer {
	@include flexCenter(column, center, center);
	@include heightWidth(100vh, 100vw);
	position: relative;
	overflow: hidden;
	.sidebar-toggle {
		@include topLeftAbsolute(3%, 0%);
		z-index: 100;
		@include flexCenter(column, center, flex-start);
		@include heightWidth(3vh, 100%);
		color: #a0a0a0;
		z-index: 100;
		font-size: 1.5em;
		cursor: pointer;
		svg {
			@include heightWidth(100%, 20%);
			@include flexCenter(column, center, flex-start);
			path {
				@include flexCenter(column, center, center);
				@include heightWidth(100%, 100%);
			}
		}
	}
	.sidebar {
		@include flexCenter(column, center, center);
		@include heightWidth(100%, 100%);
		background: radial-gradient(
			circle,
			rgba(123, 255, 130, 1) 0%,
			rgba(148, 233, 223, 1) 100%
		);
		font-size: 15px;
		overflow: hidden;
		@include topLeftAbsolute(0%, 0%);
		div {
			@include flexCenter(column, center, center);
			@include heightWidth(100%, 100%);
			.formLoginContainer {
				@include flexCenter(row, center, center);
				@include heightWidth(100%, 100%);
				@include topLeftAbsolute(0%, 0%);
				.ant-row {
					@include flexCenter(column, center, center);
					@include heightWidth(100%, 100%);
					margin: 0%;
					.ant-col {
						@include flexCenter(column, center, center);
						@include heightWidth(100%, 100%);
						margin-bottom: 5%;
						.ant-form-item-control-input {
							@include flexCenter(column, center, center);
							@include heightWidth(100%, 100%);
							.ant-form-item-control-input-content {
								@include flexCenter(column, center, center);
								@include heightWidth(5vh, 100%);
								.ant-avatar {
									@include topLeftAbsolute(10%, 50%);
									transform: translate(-50%, 10%);
									@include flexCenter(
										column,
										center,
										center
									);
									@include heightWidth(10vh, 11vw);
									img {
										@include flexCenter(
											column,
											center,
											center
										);
										@include heightWidth(100%, 100%);
										border-radius: 50%;
									}
								}
								.alignFlex {
									@include flexCenter(
										column,
										center,
										center
									);
									@include heightWidth(100%, 100%);
									.dirFlexContainer {
										@include heightWidth(100%, 100%);
										@include flexCenter(
											row,
											center,
											flex-end
										);
										font-family: 'Patua One', cursive;
										font-size: 28px;
										line-height: 22px;
										.anticon {
											@include flexCenter(
												column,
												center,
												center
											);
											@include heightWidth(100%, 100%);
											svg {
												@include flexCenter(
													column,
													center,
													center
												);
												@include heightWidth(100%, 100%);
												path {
												}
											}
										}
									}
									.ant-input {
										@include heightWidth(100%, 90%);
										padding: 1em;
									}
								}
							}
							.flexDirContainer {
								@include flexCenter(row, center, center);
								@include heightWidth(100%, 100%);
								.signup {
									@include flexCenter(row, center, center);
									@include heightWidth(100%, 100%);
									#signup {
										@include flexCenter(
											row,
											center,
											center
										);
										@include heightWidth(24px, 100%);
										background-color: rgba(
											255,
											70,
											24,
											0.75
										);
										border-color: rgba(212, 60, 22, 0.75);
										color: #fff;
										border: 1px solid transparent;
										text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
										box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
										border-radius: 2px;
										font-size: 14px;
										padding: 0px 7px;
										outline: 0;
										display: inline-block;
										touch-action: manipulation;
										user-select: none;
										line-height: 1.5715;
										white-space: nowrap;
										margin-right: 1em;
										font-weight: 400;
										cursor: pointer;
										transform: scale(1);
										transition: all 0.5s ease-in-out;
										&:hover {
											transform: scale(1.1);
											background-color: rgba(
												255,
												70,
												24,
												1
											);
											border-color: rgba(212, 60, 22, 1);
										}
									}
								}
								.login-form-button {
									transform: scale(1);
									background-color: rgba(1, 221, 250, 0.85);
									border-color: rgba(4, 173, 196, 0.85);
									transition: all 0.5s ease-in-out;
									&:hover {
										transform: scale(1.1);
										background-color: rgba(1, 221, 250, 1);
										border-color: rgba(4, 173, 196, 1);
									}
								}
								.ant-checkbox-wrapper {
									@include flexCenter(row, center, center);
									@include heightWidth(100%, 100%);
									.ant-checkbox {
										@include flexCenter(
											row,
											center,
											center
										);
										@include heightWidth(
											fit-content,
											fit-content
										);
										margin-left: 3em;
										#checkbox {
											@include flexCenter(
												row,
												center,
												center
											);
											@include heightWidth(100%, 100%);
										}
										.ant-checkbox-inner {
											@include flexCenter(
												row,
												center,
												center
											);
										}
										+ span {
											@include flexCenter(
												row,
												center,
												center
											);
											@include heightWidth(100%, 100%);
											font-size: 16px;
										}
									}
								}
								.login-form-forgot {
									@include flexCenter(row, center, center);
									@include heightWidth(100%, 100%);
									font-size: 16px;
								}
							}
							.ant-btn {
								width: 100%;
								span {
									@include flexCenter(row, center, center);
									@include heightWidth(100%, 100%);
								}
							}
						}
					}
				}
			}
		}
		.contentContainer {
			@include flexCenter(column, center, center);
			@include heightWidth(100%, 100%);
			.middle {
				@include flexCenter(column, center, center);
				@include heightWidth(100%, 100%);
				margin: 0%;
				.ant-form-item-control {
					@include flexCenter(column, center, center);
					@include heightWidth(100%, 100%);
				}
			}
		}
	}
	.boxSevenText {
		@include flexCenter(column, center, center);
		@include heightWidth(100%, 100%);
		padding: 2em;
		line-height: 50px;
		font-size: 50px;
		font-family: 'Bungee Shade', cursive;
		color: transparent;
		background: linear-gradient(
			to top,
			rgba(3, 0, 30, 0.75),
			rgba(115, 3, 192, 0.75),
			rgba(236, 56, 188, 0.75),
			rgba(253, 239, 249, 0.75)
		);
		background-size: cover;
		background-clip: text;
		transition: all 1s ease-in-out;
		&:hover {
			background: linear-gradient(
				to top,
				rgba(3, 0, 30, 1),
				rgba(115, 3, 192, 1),
				rgba(236, 56, 188, 1),
				rgba(253, 239, 249, 1)
			);
			background-size: cover;
			background-clip: text;
		}
	}
}
