@-webkit-keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/**
*
* Testing
*
**/
.profileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.profileContainer .sidebar-toggle {
  position: absolute;
  top: 3%;
  left: 0%;
  z-index: 100;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 3vh;
  width: 100%;
  color: #a0a0a0;
  z-index: 100;
  font-size: 1.5em;
  pointer-events: none;
  cursor: pointer;
  pointer-events: all;
}

.profileContainer .sidebar-toggle svg {
  height: 100%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.profileContainer .sidebar-toggle svg path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.profileContainer .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, #7bff82 0%, #94e9df 100%);
  background: var(--boxSevenBg);
  font-size: 15px;
  overflow: hidden;
  position: absolute;
  top: 0%;
  left: 0%;
}

.profileContainer .sidebar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.profileContainer .sidebar div .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 0%;
  pointer-events: all;
}

.profileContainer .sidebar div .middle .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.profileContainer .sidebar div .middle .contentContainer .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: 0%;
}

.profileContainer .sidebar div .middle .contentContainer .middle .ant-form-item-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.profileContainer .boxSevenText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 2em;
  line-height: 50px;
  font-size: 50px;
  font-family: 'Bungee Shade', cursive;
  color: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(3, 0, 30, 0.75)), color-stop(rgba(115, 3, 192, 0.75)), color-stop(rgba(236, 56, 188, 0.75)), to(rgba(253, 239, 249, 0.75)));
  background: linear-gradient(to top, rgba(3, 0, 30, 0.75), rgba(115, 3, 192, 0.75), rgba(236, 56, 188, 0.75), rgba(253, 239, 249, 0.75));
  background-size: cover;
  background-clip: text;
  pointer-events: none;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media (max-width: 360px) {
  .profileContainer .sidebar div .middle .contentContainer .middle {
    margin: 0%;
  }
  .profileContainer .boxSevenText {
    font-size: 2rem;
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  .profileContainer .sidebar div .middle .contentContainer .middle {
    margin: 0%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .profileContainer .sidebar div .middle .contentContainer .middle {
    margin: 0%;
  }
}

@media (min-width: 769px) and (max-width: 1365px) {
  .profileContainer .sidebar div .middle .contentContainer .middle {
    margin: 0%;
  }
}

@media (min-width: 1366px) {
  .profileContainer .sidebar div .middle .contentContainer .middle {
    margin: 0%;
  }
}

@media (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1920px) and (min-resolution: 192dpi) {
  .profileContainer .sidebar div .middle .contentContainer .middle {
    margin: 0%;
  }
}
/*# sourceMappingURL=BoxSeven.css.map */