@import '../../../../../mixins/mixins.scss';
@import '../../../../../breakpoints/breakpoints.scss';

.profileContainer {
	@include flexCenter(column, center, center);
	@include heightWidth(100vh, 100vw);
	position: relative;
	overflow: hidden;
	.sidebar-toggle {
		@include topLeftAbsolute(3%, 0%);
		z-index: 100;
		z-index: 200;
		@include flexCenter(column, center, flex-start);
		@include heightWidth(3vh, 100%);
		color: #a0a0a0;
		z-index: 100;
		font-size: 1.5em;
		pointer-events: none;
		cursor: pointer;
		pointer-events: all;
		svg {
			@include heightWidth(100%, 20%);
			@include flexCenter(column, center, flex-start);
			path {
				@include flexCenter(column, center, center);
				@include heightWidth(100%, 100%);
			}
		}
	}
	.sidebar {
		@include flexCenter(column, center, center);
		@include heightWidth(100%, 100%);
		background: radial-gradient(
			circle,
			rgba(123, 255, 130, 1) 0%,
			rgba(148, 233, 223, 1) 100%
		);
		background: var(--boxSevenBg);
		font-size: 15px;
		overflow: hidden;
		@include topLeftAbsolute(0%, 0%);
		div {
			@include flexCenter(column, center, center);
			@include heightWidth(100%, 100%);
			.middle {
				@include flexCenter(column, center, center);
				@include heightWidth(100%, 100%);
				@include topLeftAbsolute(0%, 0%);
				margin: 0%;
				pointer-events: all;
				.contentContainer {
					@include flexCenter(column, center, center);
					@include heightWidth(100%, 100%);
					.middle {
						@include flexCenter(column, center, center);
						@include heightWidth(100%, 100%);
						margin: 0%;
						.ant-form-item-control {
							@include flexCenter(column, center, center);
							@include heightWidth(100%, 100%);
						}
					}
				}
			}
		}
	}
	.boxSevenText {
		@include flexCenter(column, center, center);
		@include heightWidth(100%, 100%);
		padding: 2em;
		line-height: 50px;
		font-size: 50px;
		font-family: 'Bungee Shade', cursive;
		color: transparent;
		background: linear-gradient(
			to top,
			rgba(3, 0, 30, 0.75),
			rgba(115, 3, 192, 0.75),
			rgba(236, 56, 188, 0.75),
			rgba(253, 239, 249, 0.75)
		);
		background-size: cover;
		background-clip: text;
		pointer-events: none;
		transition: all 1s ease-in-out;
		// &:hover {
		// 	background: linear-gradient(
		// 		to top,
		// 		rgba(3, 0, 30, 1),
		// 		rgba(115, 3, 192, 1),
		// 		rgba(236, 56, 188, 1),
		// 		rgba(253, 239, 249, 1)
		// 	);
		// 	background-size: cover;
		// 	background-clip: text;
		// }
	}
}

@include media('<=phone') {
	.profileContainer {
		.sidebar-toggle {
			svg {
				path {
				}
			}
		}
		.sidebar {
			div {
				.middle {
					.contentContainer {
						.middle {
							margin: 0%;
							.ant-form-item-control {
							}
						}
					}
				}
			}
		}
		.boxSevenText {
			font-size: 2rem;
		}
	}
}

@include media('>phone', '<=425px') {
	.profileContainer {
		.sidebar-toggle {
			svg {
				path {
				}
			}
		}
		.sidebar {
			div {
				.middle {
					.contentContainer {
						.middle {
							margin: 0%;
							.ant-form-item-control {
							}
						}
					}
				}
			}
		}
		.boxSevenText {
		}
	}
}

@include media('>425px', '<=tablet') {
	.profileContainer {
		.sidebar-toggle {
			svg {
				path {
				}
			}
		}
		.sidebar {
			div {
				.middle {
					.contentContainer {
						.middle {
							margin: 0%;
							.ant-form-item-control {
							}
						}
					}
				}
			}
		}
		.boxSevenText {
		}
	}
}

@include media('>tablet', '<desktop') {
	.profileContainer {
		.sidebar-toggle {
			svg {
				path {
				}
			}
		}
		.sidebar {
			div {
				.middle {
					.contentContainer {
						.middle {
							margin: 0%;
							.ant-form-item-control {
							}
						}
					}
				}
			}
		}
		.boxSevenText {
		}
	}
}

@include media('>=desktop') {
	.profileContainer {
		.sidebar-toggle {
			svg {
				path {
				}
			}
		}
		.sidebar {
			div {
				.middle {
					.contentContainer {
						.middle {
							margin: 0%;
							.ant-form-item-control {
							}
						}
					}
				}
			}
		}
		.boxSevenText {
		}
	}
}

@include media('>=LGdesktop', 'retina2x') {
	.profileContainer {
		.sidebar-toggle {
			svg {
				path {
				}
			}
		}
		.sidebar {
			div {
				.middle {
					.contentContainer {
						.middle {
							margin: 0%;
							.ant-form-item-control {
							}
						}
					}
				}
			}
		}
		.boxSevenText {
		}
	}
}
