@-webkit-keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes headingAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/**
*
* Testing
*
**/
#starContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  z-index: 3;
  background: var(--boxThreeBg);
  cursor: pointer;
  position: relative;
}

#starContainer .pathSVG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

#starContainer .pathSVG .starPath {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

#starContainer .starText {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 3%;
  left: 0%;
  background: -webkit-gradient(linear, left top, right top, from(#7303c0), to(#ec38bc));
  background: linear-gradient(to right, #7303c0, #ec38bc);
  background-size: 400%;
  color: transparent;
  background-clip: text;
  -webkit-animation: headingAnimation 5s infinite alternate;
          animation: headingAnimation 5s infinite alternate;
  font-size: 4rem;
  line-height: 1em;
  font-family: 'Permanent Marker', cursive;
  pointer-events: text;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#starContainer .starText:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 360px) {
  #starContainer .starText {
    font-size: 2rem;
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  #starContainer .starText {
    font-size: 2rem;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #starContainer .starText {
    font-size: 2.75rem;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  #starContainer .starText {
    font-size: 4rem;
  }
}

@media (min-width: 769px) and (max-width: 1365px) {
  #starContainer .pathSVG {
    -webkit-transform: scale(0.9) translateY(20px);
            transform: scale(0.9) translateY(20px);
  }
  #starContainer .starText {
    font-size: 5rem;
  }
}

@media (min-width: 1366px) {
  #starContainer .pathSVG {
    -webkit-transform: scale(0.9) translateY(20px);
            transform: scale(0.9) translateY(20px);
  }
  #starContainer .starText {
    font-size: 5rem;
  }
}

@media (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1920px) and (min-resolution: 192dpi) {
  #starContainer .pathSVG {
    -webkit-transform: scale(0.85) translateY(30px);
            transform: scale(0.85) translateY(30px);
  }
  #starContainer .starText {
    font-size: 5.75rem;
  }
}
/*# sourceMappingURL=BoxThree.css.map */