@import '../../../../../mixins/mixins.scss';

#starContainer {
	@include flexCenter(row, center, center);
	@include heightWidth(100%, 100%);
	z-index: 3;
	background: var(--boxThreeBg);
	cursor: pointer;
	position: relative;
	.pathSVG {
		@include flexCenter(row, center, center);
		@include heightWidth(100%, 100%);
		.starPath {
			@include flexCenter(column, center, center);
			@include heightWidth(fit-content, 100%);
			@include topLeftAbsolute(0%, 0%);
		}
	}
	.starText {
		@include heightWidth(100%, 100%);
		@include flexCenter(column, center, center);
		@include topLeftAbsolute(-35%, 0%);
		// color: rgba(255, 255, 255, 0.75);
		background-size: 400%;
		background: linear-gradient(
			to right,
			rgba(115, 3, 192, 1),
			rgba(236, 56, 188, 1)
		);
		background-size: 400%;
		color: transparent;
		background-clip: text;
		animation: headingAnimation 5s infinite alternate;
		font-size: 4rem;
		line-height: 4rem;
		font-family: 'Permanent Marker', cursive;
		pointer-events: text;
		transform: scale(1);
		transition: all 0.5s ease-in-out;
		&:hover {
			transform: scale(1.1);
		}
	}
}
